{extend name="layout"}
{block name="content"}
		<!--header-->
  	    <div class="header-zw"></div>
		<!--header end-->
		<!--sbanner-->
		<div class="sbanner">
			<img src="/static/home/images/system/sbanner_about.jpg" class="sbanner-image" />
			<div class="sbanner-con">
				<p class="sbanner-title">ABOUT US</p>
				<a  href="javascript:;" class="sbanner-btn">关于我们</a>
			</div>
		</div>
		<!--sbanner end-->
		<div class="about-company">
			<div class="w1200">
				<div class="about-company-top">
					<h3 class="about-company-title">公司简介</h3>
					<p><span class="about-company-line"></span></p>
					<p class="about-company-en">COMPANY PROFILE</p>					
				</div>
				<div class="about-company-con fn-clear">
					<div class="about-company-text">
						{:getArticle(27)['content']}
					</div>
					<img src="/static/home/images/system/company.jpg" class="about-company-image" />
					<div class="about-company-contact">
						<p>{$config['tel']['name']}：<span class="red-text">{$config['tel']['val']}</span></p>
						<p>{$config['email']['name']}：<span class="red-text">{$config['email']['val']}</span></p>
						<p>{$config['address']['name']}：<span class="red-text">{$config['address']['val']}</span></p>
					</div>
				</div>
			</div>			
		</div>
{/block}
{block name="js"}
{/block}