{extend name="layout"}
{block name="content"}
		<!--header-->
  	    <div class="header-zw"></div>
		<!--header end-->
		<div class="single-banner">
			<img src="/static/home/images/system/sbanner_application3.jpg" class="single-banner-image" />
				<img src="/static/home/images/system/sbanner_text_03.png" class="sabnner-text-image" />
		</div>
		<div class="w1200">
			<div class="contrast-title fn-clear">
				<span class="contrast-t">行业痛点</span>
				<span class="contrast-t">景运管家解决方案</span>
			</div>
			<div class="contrast">
				<div class="constrast-item fn-clear">
					<div class="average-item" id="title_01">
						<span class="average-title">场景一：购票验票</span>
						<div class="average-text fn-clear">
							<div class="aver-half">
								<p>节假日售票、验票压力大；</p>
								<p>游客在购票、验票需花大量时间排队，体验差</p>
							</div>
							<div class="aver-half aver-half-right dark-grey-text">
								<p>游客通过微信、小程序及官网提前购票或在</p>
								<p>景区门口扫码购票，购票成功后凭二维码电子票</p>
								<p>直接刷闸机验票入园，节省购票时间</p>
							</div>
						</div>
						<div class="average-imgs fn-clear">
							<div class="aver-half">
								<img src="/static/home/images/upload/application_11.jpg" class="average-images" />
							</div>
							<div class="aver-half">
								<img src="/static/home/images/upload/application_12.jpg" class="average-images" />
							</div>
						</div>
					</div>
					<div class="average-item" id="title_02">
						<span class="average-title">场景二：语音讲解</span>
						<div class="average-text fn-clear">
							<div class="aver-half">
								<p>客流高峰期，景区导游能力有限，</p>
								<p>导游组应接不暇，导游服务覆盖率低</p>
							</div>
							<div class="aver-half aver-half-right dark-grey-text">
								<p>游客通过景点线下物料利用微信“扫一扫”</p>
								<p>或“摇一摇”功能实现自助语音讲解服务</p>
							</div>
						</div>
						<div class="average-imgs">
							<div class="aver-half">
								<img src="/static/home/images/upload/application_13.jpg" class="average-images" />
							</div>
							<div class="aver-half">
								<img src="/static/home/images/upload/application_14.jpg" class="average-images" />
							</div>
						</div>
					</div>
					<div class="average-item" id="title_03">
						<span class="average-title">场景三：地图导览</span>
						<div class="average-text fn-clear">
							<div class="aver-half">
								<p>游客达到景区之后，景区太大纸质导览图看不明白，</p>
								<p>不知道哪条游览线路最佳？厕所、餐饮点、游客中心、</p>
								<p>演出场馆怎么走不知道？</p>
							</div>
							<div class="aver-half aver-half-right dark-grey-text">
								<p>游客通过微信电子地图全程实现智导览服务，虚拟</p>
								<p>全景将整个景区全貌尽收眼底、游览线路导航、实时定位、</p>
								<p>景点讲解、活动通告等功能提升游客游览体验度。</p>
							</div>
						</div>
						<div class="average-imgs">
							<div class="aver-half">
								<img src="/static/home/images/upload/application_15.jpg" class="average-images" />
							</div>
							<div class="aver-half">
								<img src="/static/home/images/upload/application_16.jpg" class="average-images" />
							</div>
						</div>
					</div>
					<div class="average-item" id="title_04">
						<span class="average-title">场景四：智慧收银</span>
						<div class="average-text fn-clear">
							<div class="aver-half">
								<p>高峰时段游客激增，商家与游客现金交易不变，</p>
								<p>长时间排队造成订单流失。</p>
							</div>
							<div class="aver-half aver-half-right dark-grey-text">
								<p>通过微信收银台，1-2秒完成支付，</p>
								<p>提高收银效率节省游客时间，通过支付红包、</p>
								<p>优惠劵等营销工具促进园内二销。</p>
							</div>
						</div>
						<div class="average-imgs">
							<div class="aver-half">
								<img src="/static/home/images/upload/application_17.jpg" class="average-images" />
							</div>
							<div class="aver-half">
								<img src="/static/home/images/upload/application_18.jpg" class="average-images" />
							</div>
						</div>
					</div>
					<div class="average-item" id="title_05">
						<span class="average-title">场景五：分销商城</span>
						<div class="average-text fn-clear">
							<div class="aver-half">
								<p>游客消费时间短，部分特产离开后想再次购买，</p>
								<p>没有渠道</p>
							</div>
							<div class="aver-half aver-half-right dark-grey-text">
								<p>利用微信与游客建立联系，通过智能提醒和推送、红包、</p>
								<p>代金券、全民分销等营销方式，引导游客在景区充分消费，</p>
								<p>并通过微信商城整合周边商家资源，拓宽景区营收边界。</p>
							</div>
						</div>
						<div class="average-imgs">
							<div class="aver-half">
								<img src="/static/home/images/upload/application_19.jpg" class="average-images" />
							</div>
							<div class="aver-half">
								<img src="/static/home/images/upload/application_20.jpg" class="average-images" />
							</div>
						</div>
					</div>
					<div class="average-item" id="title_06">
						<span class="average-title">场景六：全民分销</span>
						<div class="average-text fn-clear">
							<div class="aver-half">
								<p>传统渠道营销成本高、手段有限，</p>
								<p>且游客信息资源在旅行社、OTA等渠道手中</p>
							</div>
							<div class="aver-half aver-half-right dark-grey-text">
								<p>通过微信留存游客关系，用电子票窗、海报售票、</p>
								<p>多级分销等社会化营销手段，把游客、员工、导游及周</p>
								<p>边商家变成渠道，让他们成为景区的营销员、销售员。</p>
							</div>
						</div>
						<div class="average-imgs">
							<div class="aver-half">
								<img src="/static/home/images/upload/application_21.jpg" class="average-images" />
							</div>
							<div class="aver-half">
								<img src="/static/home/images/upload/application_22.jpg" class="average-images" />
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
{/block}
{block name="js"}
	    <script type="text/javascript">
		$(document).ready(function() {
			//鼠标悬浮在导航上下拉
			$('.nav-li').hover(function(){
				var _this =$(this);
				if($(_this).hasClass('active')){
					return false;
				}else{
					$('.nav-li.active').removeClass('active');
					$(_this).addClass('active');
					$('.second-links').stop().slideUp();
					$(_this).find('.second-links').stop().slideDown();
				}
				
			});
			$('.second-links').hover(function(){
				
			},function(){
				$(this).stop().slideUp();
			});
			//公用结束
			//单页模板标题动画 
			function ani(){
				var title1 = $('#title_01').offset().top-100;
				var title2 = $('#title_02').offset().top-100;
				var title3 = $('#title_03').offset().top-100; 
				var title4 = $('#title_04').offset().top-100;
				var title5 = $('#title_05').offset().top-100;
				var title5 = $('#title_06').offset().top-100;
		 		var $scrollTop = 0;
		 		//页面滑动时
		 		$(window).scroll(function(event){
					$scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
					if($scrollTop<=title1 ){
						$('#title_01').addClass('to-top');
					}else if($scrollTop>=title1 & $scrollTop<=title2 ){
						$('#title_02').addClass('to-top');
					}else if($scrollTop>=title2 & $scrollTop<=title3 ){
						$('#title_03').addClass('to-top');
					}else if($scrollTop>=title3 & $scrollTop<=title4 ){
						$('#title_04').addClass('to-top');
					}else if($scrollTop>=title4 & $scrollTop<=title5 ){
						$('#title_05').addClass('to-top');
					}else if($scrollTop>=title5 & $scrollTop<=title6 ){
						$('#title_06').addClass('to-top');
					}
				});
			}
			ani();
		});
		</script>
{/block}
