{extend name="layout"}
{block name="content"}
		<!--header-->
  	    <div class="header-zw"></div>
		<!--header end-->
		<div class="single-banner">
			<img src="/static/home/images/system/sbanner_application.png" class="single-banner-image" />
				<img src="/static/home/images/system/sbanner_text_01.png" class="sabnner-text-image" />
		</div>
		<div class="w1200">
			<div class="contrast-title fn-clear">
				<span class="contrast-t">行业痛点</span>
				<span class="contrast-t">景运管家解决方案</span>
			</div>
			<div class="contrast">
				<div class="constrast-item fn-clear" id="title_01">
					<div class="constrast-left">
						<div class="constrast-detail">
							<img src="/static/home/images/upload/application_01.png" class="costrast-image" />
							<div class="constrast-par">节假日售票、验票t压力大；游客在购票、验票需花大量时间排队，体验差</div>
						</div>
						<div class="constrast-vs">
							<p class="constrast-vs-text">VS</p>
							<p class="constrast-text-title">购票验票</p>
						</div>
					</div>
					<div class="constrast-detail">
						<img src="/static/home/images/upload/application_02.jpg" class="costrast-image" />
						<div class="constrast-par dark-grey-text">游客通过微信、小程序及官网提前购票或在景区门口扫码购票，购票成功后凭二维码电子票直接刷闸机验票入园，节省购票时间</div>
					</div>
				</div>	
				<div class="constrast-item fn-clear" id="title_02">
					<div class="constrast-left">
						<div class="constrast-detail">
							<img src="/static/home/images/upload/application_03.png" class="costrast-image" />
							<div class="constrast-par">游客到达入馆之后，馆内讲解力度有限，讲解方式有限人工讲解费用高、覆盖率低</div>
						</div>
						<div class="constrast-vs">
							<p class="constrast-vs-text">VS</p>
							<p class="constrast-text-title">语音导览</p>
						</div>
					</div>
					<div class="constrast-detail">
						<img src="/static/home/images/upload/application_04.png" class="costrast-image" />
						<div class="constrast-par dark-grey-text">通过微信为游客提供语音导览、地图导览等智能导览服务</div>
					</div>
				</div>	
				<div class="constrast-item fn-clear" id="title_03">
					<div class="constrast-left">
						<div class="constrast-detail">
							<img src="/static/home/images/upload/application_05.png" class="costrast-image" />
							<div class="constrast-par">
								<p>游客消费不够充分:</p>
								<p>1.馆内消费项目无法知晓、无法及时参与;</p>
								<p>2.馆内互动项目零散、无法形成持续性消费；</p>
								<p>3.馆内商家与游客现金交易不方便，高峰时排队造成订单流失；</p>
								<p>4.游客消费时间短，部分纪念品离开后想再次购买，没有渠道购买。</p>
						</div>
						</div>
						<div class="constrast-vs">
							<p class="constrast-vs-text">VS</p>
							<p class="constrast-text-title">分销商城</p>
						</div>
					</div>
					<div class="constrast-detail">
						<img src="/static/home/images/upload/application_06.png" class="costrast-image" />
						<div class="constrast-par dark-grey-text">
							<p>1.通过微信留存游客关系，依托馆内线下流量，利用购票微信收银、线下活动等刚需手段把游客从线下引流到线上，再充分利用微信社交属性开展线上营销，结合终端消费者与馆内自身优质服务，建立品牌口碑。</p>
							<p>2.结通过红包营销等方式，刺激游客在入馆后充分消费并通过微信支付、微信商城引导游客二次消、多次消费</p>
						</div>
					</div>
				</div>	
				<div class="constrast-item fn-clear" id="title_04">
					<div class="constrast-left">
						<div class="constrast-detail">
							<img src="/static/home/images/upload/application_07.png" class="costrast-image" />
							<div class="constrast-par">
								<p>馆内传统线下活动方式单一，大海报、大声音、大奖品资源投入大，效果不够理想</p>
						</div>
						</div>
						<div class="constrast-vs">
							<p class="constrast-vs-text">VS</p>
							<p class="constrast-text-title">宣传推广</p>
						</div>
					</div>
					<div class="constrast-detail">
						<img src="/static/home/images/upload/application_08.png" class="costrast-image" />
						<div class="constrast-par dark-grey-text">
							<p>通过微信链接项目、场馆与游客，可让活动形式更丰富更好玩，投入低，效果好</p>
						</div>
					</div>
				</div>	
				<div class="constrast-item fn-clear" id="title_05">
					<div class="constrast-left">
						<div class="constrast-detail">
							<img src="/static/home/images/upload/application_09.png" class="costrast-image" />
							<div class="constrast-par">
								<p>传统系统票务、游客、营销等数据分离，无法发挥数据的真正价值</p>
						</div>
						</div>
						<div class="constrast-vs">
							<p class="constrast-vs-text">VS</p>
							<p class="constrast-text-title">景区大数据</p>
						</div>
					</div>
					<div class="constrast-detail">
						<img src="/static/home/images/upload/application_10.png" class="costrast-image" />
						<div class="constrast-par dark-grey-text">
							<p>通过对用户、渠道、票务、营销、客源等多角度综合大数据分析，为景区决策、分析、统计提供强有力的数据支持</p>
						</div>
					</div>
				</div>	
			</div>
		</div>
{/block}
{block name="js"}
	    <script type="text/javascript">
		$(document).ready(function() {
			//鼠标悬浮在导航上下拉
			$('.nav-li').hover(function(){
				var _this =$(this);
				if($(_this).hasClass('active')){
					return false;
				}else{
					$('.nav-li.active').removeClass('active');
					$(_this).addClass('active');
					$('.second-links').stop().slideUp();
					$(_this).find('.second-links').stop().slideDown();
				}
				
			});
			$('.second-links').hover(function(){
				
			},function(){
				$(this).stop().slideUp();
			});
			//公用结束
			//单页模板标题动画 
			function ani(){
				var title1 = $('#title_01').offset().top-100;
				var title2 = $('#title_02').offset().top-100;
				var title3 = $('#title_03').offset().top-100; 
				var title4 = $('#title_04').offset().top-100;
				var title5 = $('#title_05').offset().top-100;
		 		var $scrollTop = 0;
		 		//页面滑动时
		 		$(window).scroll(function(event){
					$scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
					if($scrollTop<=title1 ){
						$('#title_01').addClass('to-top');
					}else if($scrollTop>=title1 & $scrollTop<=title2 ){
						$('#title_02').addClass('to-top');
					}else if($scrollTop>=title2 & $scrollTop<=title3 ){
						$('#title_03').addClass('to-top');
					}else if($scrollTop>=title3 & $scrollTop<=title4 ){
						$('#title_04').addClass('to-top');
					}else if($scrollTop>=title4 & $scrollTop<=title5 ){
						$('#title_05').addClass('to-top');
					}
				});
			}
			ani();
		});
		</script>
{/block}
