{extend name="layout"}
{block name="content"}
  	    <div class="header-zw"></div>
		<!--header end-->
		<div class="single-banner">
			<img src="/static/home/images/system/sbanner_application4.jpg" class="single-banner-image" />
				<img src="/static/home/images/system/sbanner_text_04.png" class="sabnner-text-image" />
		</div>
		<div class="w1200">
			<div class="contrast-title fn-clear">
				<span class="contrast-t">行业痛点</span>
				<span class="contrast-t">景运管家解决方案</span>
			</div>
			<div class="contrast">
				<div class="theme-item fn-clear" id="title_01">
					<div class="aver-half theme-item-half">
						<div class="theme-detail">
							<img src="/static/home/images/upload/application_51.jpg" class="costrast-image" />
							<div class="constrast-par theme-par"> <span class="theme-par-icon"></span>节假日票、验票压力大，优客在购票、验票需花大量时间排队，体验差</div>
						</div>
						<div class="theme-vs">
							<p class="theme-vs-text">VS</p>
							<p class="theme-vs-text2">购票验票</p>
						</div>
					</div>
					<div class="aver-half">
						<img src="/static/home/images/upload/application_52.jpg" class="costrast-image" />
						<div class="constrast-par theme-par  dark-grey-text"> <span class="theme-par-icon theme-par-icon-red"></span>游客通过微信、小程序及官网提前购票或在景区门口扫码购票，购票成功后凭二维码电子票直接刷闸机验票入园，节省购票时间</div>
					</div>
				</div>	
				<div class="theme-item fn-clear" id="title_02">
					<div class="aver-half theme-item-half">
						<div class="theme-detail">
							<img src="/static/home/images/upload/application_53.jpg" class="costrast-image" />
							<div class="constrast-par theme-par"> <span class="theme-par-icon"></span>主题公园规模巨大,游客对于游玩项目无计划:
							<p>1、游客不知道园区内道路前方有什么项目,项目简介简单，游客盲目;</p>
							<p>2、游客无法及时知晓园内互动项目开始时间(如:花车巡游、马戏表演等)，易错过</p>
							<p>3、游客不知园内游乐项目排队情况，常盲目排队，导致整体游玩效率不高</p></div>
						</div>
						<div class="theme-vs">
							<p class="theme-vs-text">VS</p>
							<p class="theme-vs-text2">智能导览</p>
						</div>
					</div>
					<div class="aver-half">
						<img src="/static/home/images/upload/application_54.jpg" class="costrast-image" />
						<div class="constrast-par theme-par dark-grey-text"> <span class="theme-par-icon theme-par-icon-red"></span>
							<p>1、园区720°全景展示、游玩线路智能推荐及游玩项目信息展示；</p>
							<p>2、利用消息群发模板设定自动推送时间，通知游客即将开始的互动项、参与地点及热门项目排队情况</p>
						</div>
					</div>
				</div>	
				<div class="theme-item fn-clear" id="title_03">
					<div class="aver-half theme-item-half">
						<div class="theme-detail">
							<img src="/static/home/images/upload/application_55.jpg" class="costrast-image" />
							<div class="constrast-par theme-par"> <span class="theme-par-icon"></span>
							<p>传统渠道分销成本高、手段有限，且游客信息资源在旅行社、OTA等渠道手中传统推广渠道窄，对传统媒体依赖度高,公关、广告命脉易被把握，紧急公关能力弱同行竞争压力大</p></div>
						</div>
						<div class="theme-vs">
							<p class="theme-vs-text">VS</p>
							<p class="theme-vs-text2">全民分销</p>
						</div>
					</div>
					<div class="aver-half">
						<img src="/static/home/images/upload/application_56.jpg" class="costrast-image" />
						<div class="constrast-par theme-par dark-grey-text"> <span class="theme-par-icon theme-par-icon-red"></span>
							<p>通过微信留存游客关系，依托景区线下流量，利用购票微信收银、线下活动等刚需手段把游客从线下引流到线上，再充分利用微信社交属性开展线上营销，结合终端消费者与园区自身优质服务，建立品牌口碑。</p>
						</div>
					</div>
				</div>	
				<div class="theme-item fn-clear" id="title_04">
					<div class="aver-half theme-item-half">
						<div class="theme-detail">
							<img src="/static/home/images/upload/application_57.jpg" class="costrast-image" />
							<div class="constrast-par theme-par"> <span class="theme-par-icon"></span>
								游客消费不够充分:
								<p>1、园内消费项目二次排队等候时间长，无法及时参与</p>
								<p>2、园内互动项目零散，无法形成套餐性消费</p>
								<p>3、园内游客个人消费低，餐厅、饮料、零食、拍照、纪念品等二次消费难以拉动</p>
								<p>4、园内商家与游客现金交易，高峰时排队造成订单流失，且现金监管难度大</p>
							</div>
						</div>
						<div class="theme-vs">
							<p class="theme-vs-text">VS</p>
							<p class="theme-vs-text2">微信收银台</p>
						</div>
					</div>
					<div class="aver-half">
						<img src="/static/home/images/upload/application_58.jpg" class="costrast-image" />
						<div class="constrast-par theme-par dark-grey-text"> <span class="theme-par-icon theme-par-icon-red"></span>
							<p>1、利用微信与游客建立联系，通过智能提醒和推送，告知游客园内的互动活动及场地时间并可线路引导、智能报名</p>
							<p>2、结合智能线路规划，推荐线路套餐，沿线吃喝玩一条龙。</p>
							<p>3、通过红包营销等方式，刺激游客在入园后充分消费并通过微信支付、微信商城引导游客二次消、多次消费</p>
							<p>4、通过微信收银台，1-2秒完成支付，提高收银效率，并有多种预售预定方式，方便游客消费，提升游客体验</p>
						</div>
					</div>
				</div>	
				<div class="theme-item fn-clear" id="title_05">
					<div class="aver-half theme-item-half">
						<div class="theme-detail">
							<img src="/static/home/images/upload/application_59.jpg" class="costrast-image" />
							<div class="constrast-par theme-par"> <span class="theme-par-icon"></span>
								<p>主题公园传统线下活动方式单一，大海报、大声音、大奖品，资源投入大，效果不够理想</p>
							</div>
						</div>
						<div class="theme-vs">
							<p class="theme-vs-text">VS</p>
							<p class="theme-vs-text2">宣传推广</p>
						</div>
					</div>
					<div class="aver-half">
						<img src="/static/home/images/upload/application_60.jpg" class="costrast-image" />
						<div class="constrast-par theme-par dark-grey-text"> <span class="theme-par-icon theme-par-icon-red"></span>
							<p>通过微信链接项目、场馆与游客，可让活动形式更丰富，更好玩，投入低，效果好</p>
						</div>
					</div>
				</div>	
				<div class="theme-item fn-clear" id="title_06">
					<div class="aver-half theme-item-half">
						<div class="theme-detail">
							<img src="/static/home/images/upload/application_61.jpg" class="costrast-image" />
							<div class="constrast-par theme-par"> <span class="theme-par-icon"></span>
								<p>传统系统票务、游客、营销等数据分离，无法发挥数据的真正价值</p>
							</div>
						</div>
						<div class="theme-vs">
							<p class="theme-vs-text">VS</p>
							<p class="theme-vs-text2">景区大数据</p>
						</div>
					</div>
					<div class="aver-half">
						<img src="/static/home/images/upload/application_62.jpg" class="costrast-image" />
						<div class="constrast-par theme-par dark-grey-text"> <span class="theme-par-icon theme-par-icon-red"></span>
							<p>通过对用户、渠道、票务、营销、客源等多角度综合大数据分析，为景区决策、分析、统计提供强有力的数据支持</p>
						</div>
					</div>
				</div>	
			</div>
		</div>
{/block}
{block name="js"}
	    <script type="text/javascript">
		$(document).ready(function() {
			//鼠标悬浮在导航上下拉
			$('.nav-li').hover(function(){
				var _this =$(this);
				if($(_this).hasClass('active')){
					return false;
				}else{
					$('.nav-li.active').removeClass('active');
					$(_this).addClass('active');
					$('.second-links').stop().slideUp();
					$(_this).find('.second-links').stop().slideDown();
				}
				
			});
			$('.second-links').hover(function(){
				
			},function(){
				$(this).stop().slideUp();
			});
			//公用结束
			//单页模板标题动画 
			function ani(){
				var title1 = $('#title_01').offset().top-100;
				var title2 = $('#title_02').offset().top-100;
				var title3 = $('#title_03').offset().top-100; 
				var title4 = $('#title_04').offset().top-100;
				var title5 = $('#title_05').offset().top-100;
		 		var $scrollTop = 0;
		 		//页面滑动时
		 		$(window).scroll(function(event){
					$scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
					if($scrollTop<=title1 ){
						$('#title_01').addClass('to-top');
					}else if($scrollTop>=title1 & $scrollTop<=title2 ){
						$('#title_02').addClass('to-top');
					}else if($scrollTop>=title2 & $scrollTop<=title3 ){
						$('#title_03').addClass('to-top');
					}else if($scrollTop>=title3 & $scrollTop<=title4 ){
						$('#title_04').addClass('to-top');
					}else if($scrollTop>=title4 & $scrollTop<=title5 ){
						$('#title_05').addClass('to-top');
					}
				});
			}
			ani();
		});
		</script>
{/block}
