{extend name="layout"}
{block name="content"}
		<!--header-->
  	    <div class="header-zw"></div>
		<!--header end-->
		<div class="single-banner">
			<img src="/static/home/images/system/sbanner_application2.jpg" class="single-banner-image" />
				<img src="/static/home/images/system/sbanner_text_02.png" class="sabnner-text-image" />
		</div>
		<div class="w1200">
			<div class="contrast-title fn-clear">
				<span class="contrast-t">行业痛点</span>
				<span class="contrast-t">景运管家解决方案</span>
			</div>
			<div class="contrast">
				<div class="constrast-item fn-clear" id="title_01">
					<p class="tourisn-title">痛点一：导览导游</p>
					<div class="constrast-left">
						<div class="constrast-detail">
							<img src="/static/home/images/upload/application_31.jpg" class="costrast-image" />
							<div class="constrast-par">目的地游玩景点多，节假日拥挤，停车难。游客难以合理把握行程路线，造成旅游时间浪费、景区资源浪费的现象</div>
						</div>
						<div class="constrast-vs">
							<p class="tourisn-vs-text">VS</p>
						</div>
					</div>
					<div class="constrast-detail">
						<img src="/static/home/images/upload/application_32.jpg" class="costrast-image" />
						<div class="constrast-par dark-grey-text">利用微信可以提前预定酒店、景点、讲解、餐饮等众多服务，真正做到“一部手机游景区”</div>
					</div>
				</div>	
				<div class="constrast-item fn-clear" id="title_02">
					<p class="tourisn-title">痛点二：景区一卡通</p>
					<div class="constrast-left">
						<div class="constrast-detail">
							<img src="/static/home/images/upload/application_33.jpg" class="costrast-image" />
							<div class="constrast-par">景区商户种类繁多，与景区结算困难，难以统计各个商户营销情况；同时景区游客消费情况也无从获知，没有数据为决策做驱动</div>
						</div>
						<div class="constrast-vs">
							<p class="tourisn-vs-text">VS</p>
						</div>
					</div>
					<div class="constrast-detail">
						<img src="/static/home/images/upload/application_34.jpg" class="costrast-image" />
						<div class="constrast-par dark-grey-text">通过“景区一卡通”系统，不仅建立了对景区内商户运营状况了解的渠道，同时获取了用户购买喜好，结合微信提供的用户信息，让决策有更多维度的数据</div>
					</div>
				</div>	
				<div class="constrast-item fn-clear" id="title_03">
					<p class="tourisn-title">痛点三：分销商城</p>
					<div class="constrast-left">
						<div class="constrast-detail">
							<img src="/static/home/images/upload/application_35.jpg" class="costrast-image" />
							<div class="constrast-par">游客消费时间短，部分特产离开后想再次购买，没有渠道</div>
						</div>
						<div class="constrast-vs">
							<p class="tourisn-vs-text">VS</p>
						</div>
					</div>
					<div class="constrast-detail">
						<img src="/static/home/images/upload/application_36.jpg" class="costrast-image" />
						<div class="constrast-par dark-grey-text">利用微信与游客建立联系，通过智能提醒和推送、红包、代金券、全民分销等营销方式，引导游客在景区充分消费，并通过微信商城整合周边商家资源，拓宽景区营收边界</div>
					</div>
				</div>	
				<div class="constrast-item fn-clear" id="title_04">
					<p class="tourisn-title">痛点四：宣传推广</p>
					<div class="constrast-left">
						<div class="constrast-detail">
							<img src="/static/home/images/upload/application_37.jpg" class="costrast-image" />
							<div class="constrast-par">景区传统线下活动方式单一，大海报、大声音、大奖品，资源投入大，效果不够理想</div>
						</div>
						<div class="constrast-vs">
							<p class="tourisn-vs-text">VS</p>
						</div>
					</div>
					<div class="constrast-detail">
						<img src="/static/home/images/upload/application_38.jpg" class="costrast-image" />
						<div class="constrast-par dark-grey-text">通过微信链接项目、场馆与游客，可让活动形式更丰富，更好玩，投入低，效果好</div>
					</div>
				</div>	
				<div class="constrast-item fn-clear" id="title_05">
					<p class="tourisn-title">痛点五：景区大数据</p>
					<div class="constrast-left">
						<div class="constrast-detail">
							<img src="/static/home/images/upload/application_39.jpg" class="costrast-image" />
							<div class="constrast-par">传统系统票务、游客、营销等数据分离，无法发挥数据的真正价值</div>
						</div>
						<div class="constrast-vs">
							<p class="tourisn-vs-text">VS</p>
						</div>
					</div>
					<div class="constrast-detail">
						<img src="/static/home/images/upload/application_40.jpg" class="costrast-image" />
						<div class="constrast-par dark-grey-text">通过对用户、渠道、票务、营销、客源等多角度综合大数据分析，为景区决策、分析、统计提供强有力的数据支持</div>
					</div>
				</div>	
				<div class="constrast-item fn-clear" id="title_06">
					<p class="tourisn-title">痛点六：投诉建议</p>
					<div class="constrast-left">
						<div class="constrast-detail">
							<img src="/static/home/images/upload/application_41.jpg" class="costrast-image" />
							<div class="constrast-par">游客与景区信息交互方式原始，效率低。当游客对景区不满时，没有有效渠道进行反馈，导致游客流失</div>
						</div>
						<div class="constrast-vs">
							<p class="tourisn-vs-text">VS</p>
						</div>
					</div>
					<div class="constrast-detail">
						<img src="/static/home/images/upload/application_42.jpg" class="costrast-image" />
						<div class="constrast-par dark-grey-text">游客通过微信游客投诉系统可以方便的对景区提出合理意见或建议。旅游职能部门在解决游客问题的同时，进一步提高了景区服务质量，从而形成景区口碑的良性循环</div>
					</div>
				</div>	
			</div>
		</div>
		{/block}
		{block name="js"}
	    <script type="text/javascript">
		$(document).ready(function() {
			//鼠标悬浮在导航上下拉
			$('.nav-li').hover(function(){
				var _this =$(this);
				if($(_this).hasClass('active')){
					return false;
				}else{
					$('.nav-li.active').removeClass('active');
					$(_this).addClass('active');
					$('.second-links').stop().slideUp();
					$(_this).find('.second-links').stop().slideDown();
				}
				
			});
			$('.second-links').hover(function(){
				
			},function(){
				$(this).stop().slideUp();
			});
			//公用结束
			//单页模板标题动画 
			function ani(){
				var title1 = $('#title_01').offset().top-100;
				var title2 = $('#title_02').offset().top-100;
				var title3 = $('#title_03').offset().top-100; 
				var title4 = $('#title_04').offset().top-100;
				var title5 = $('#title_05').offset().top-100;
		 		var $scrollTop = 0;
		 		//页面滑动时
		 		$(window).scroll(function(event){
					$scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
					if($scrollTop<=title1 ){
						$('#title_01').addClass('to-top');
					}else if($scrollTop>=title1 & $scrollTop<=title2 ){
						$('#title_02').addClass('to-top');
					}else if($scrollTop>=title2 & $scrollTop<=title3 ){
						$('#title_03').addClass('to-top');
					}else if($scrollTop>=title3 & $scrollTop<=title4 ){
						$('#title_04').addClass('to-top');
					}else if($scrollTop>=title4 & $scrollTop<=title5 ){
						$('#title_05').addClass('to-top');
					}
				});
			}
			ani();
		});
		</script>
		{/block}
