{extend name="layout"}
{block name="content"}
<div class="header-zw"></div>
<!--header end-->
<!--sbanner-->
<div class="sbanner">
	<img src="/static/home/images/system/sbanner_case.jpg" class="sbanner-image" />
	<div class="sbanner-con">
		<p class="sbanner-title">CLASSIC CASE</p>
		<a  href="javascript:;" class="sbanner-btn">经典案例</a>
	</div>
</div>
<!--sbanner end-->
<!--case-sliders-->
<div class="case-sliders w1200">
	<h3 class="case-title">全网营销案例</h3>
	<div class="case-swiper" id="case_swiper">
		<div class="case-thumbs">
			<div class="case-thumb case-thumb-active">
				<img src="/static/home/images/upload/case_thumb.png" class="case-thumb-image" />
			</div>
			<div class="case-thumb">
				<img src="/static/home/images/upload/case_thumb_02.png" class="case-thumb-image" />
			</div>
			<div class="case-thumb">
				<img src="/static/home/images/upload/case_thumb_03.png" class="case-thumb-image" />
			</div>
			<div class="case-thumb">
				<img src="/static/home/images/upload/case_thumb_04.png" class="case-thumb-image" />
			</div>
		</div>
		<ul class="slides">
			<li class="slide">
				<div class="case-list">
					<h6 class="case-list-title">
						<span class="case-three-icon"></span>
						乐和乐都主题乐园
						<span class="case-three-icon case-three-icon-right"></span>
					</h6>
					<img src="/static/home/images/upload/case_01.jpg" class="case-list-image" />
					<div class="case-list-text">
						<p>重庆乐和乐都休闲度假主题公园位于重庆市永川区，距重庆主城区65公里，占地面积5000余亩，总投资30亿，</p>
						<p>是西部规模最大，功能最全，最具特色，重庆唯一的超大型主题公园。</p></div>
					<div class="case-list-ewm">
						<img src="/static/home/images/system/lhld.jpg" class="case-list-ewm-image" />扫描二维码，立即体验~
					</div>
				</div>
			</li>
			<li class="slide">
				<div class="case-list">
					<h6 class="case-list-title">
						<span class="case-three-icon"></span>
						雁荡山
						<span class="case-three-icon case-three-icon-right"></span>
					</h6>
					<img src="/static/home/images/upload/case_02.jpg" class="case-list-image" />
					<div class="case-list-text">
						<p>雁荡山，首批国家重点风景名胜区，国家级“卫生山、安全山、文明山”、国家文明风景名胜区、国家AAAAA级旅游区、</p>
						<p>全国文明风景旅游区示范点、“世界地质公园”等称号。位于中国浙江省乐清市境内，部分位于永嘉县及温岭市。 </p></div>
					<div class="case-list-ewm">
						<img src="/static/home/images/system/yds.jpg" class="case-list-ewm-image" />扫描二维码，立即体验~
					</div>
				</div>
			</li>
			<li class="slide">
				<div class="case-list">
					<h6 class="case-list-title">
						<span class="case-three-icon"></span>
						西江千户苗寨
						<span class="case-three-icon case-three-icon-right"></span>
					</h6>
					<img src="/static/home/images/upload/case_03.jpg" class="case-list-image" />
					<div class="case-list-text">
						<p>西江千户苗寨是一个保存苗族“原始生态”文化完整的地方，由10余个依山而建的自然村寨相连成片，</p>
						<p>是目前中国乃至全世界最大的苗族聚居村寨。它是领略和认识中国苗族漫长历史与发展之地。</p></div>
					<div class="case-list-ewm">
						<img src="/static/home/images/system/xjqhmz.jpg" class="case-list-ewm-image" />扫描二维码，立即体验~
					</div>
				</div>
			</li>
			<li class="slide">
				<div class="case-list">
					<h6 class="case-list-title">
						<span class="case-three-icon"></span>
						海龙屯
						<span class="case-three-icon case-three-icon-right"></span>
					</h6>
					<img src="/static/home/images/upload/case_04.jpg" class="case-list-image" />
					<div class="case-list-text">
						<p>海龙屯位于贵州省遵义市老城西北约28公里的龙岩山巅，又称海龙囤、龙岩囤、龙岩屯，是一处宋明时期的“土司”城堡遗址。</p>
						<p>其行政区划属遵义市汇川区高坪镇海龙屯村双龙组。海龙屯于1982年公布为省级文物保护单位，2001年晋升为全国重点文物保护单位 ，
							2015年7月4日在第39届世界遗产大会上列入《世界遗产名录》。</p></div>
					<div class="case-list-ewm">
						<img src="/static/home/images/system/hlt.jpg" class="case-list-ewm-image" />扫描二维码，立即体验~
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<!--case-sliders-->
<div class="case-lists">
	<div class="w1200">
		<h3 class="case-title">400+景区的共同选择</h3>
		<div class="case-items fn-clear">
			<a href="javascript:;" class="case-item">
				<div class="case-item-img">
					<img src="/static/home/images/upload/caseimg1.jpg" class="case-item-image" />
				</div>
				<p class="case-item-text">白石山</p>
			</a>
			<a href="javascript:;" class="case-item">
				<div class="case-item-img">
					<img src="/static/home/images/upload/caseimg2.jpg" class="case-item-image" />
				</div>
				<p class="case-item-text">台儿庄古城</p>
			</a>
			<a href="javascript:;" class="case-item">
				<div class="case-item-img">
					<img src="/static/home/images/upload/caseimg3.jpg" class="case-item-image" />
				</div>
				<p class="case-item-text">天目湖</p>
			</a>
			<a href="javascript:;" class="case-item">
				<div class="case-item-img">
					<img src="/static/home/images/upload/caseimg4.jpg" class="case-item-image" />
				</div>
				<p class="case-item-text">天台山</p>
			</a>
			<a href="javascript:;" class="case-item">
				<div class="case-item-img">
					<img src="/static/home/images/upload/caseimg5.jpg" class="case-item-image" />
				</div>
				<p class="case-item-text">华清宫</p>
			</a>
			<a href="javascript:;" class="case-item">
				<div class="case-item-img">
					<img src="/static/home/images/upload/caseimg6.jpg" class="case-item-image" />
				</div>
				<p class="case-item-text">三峡博物馆</p>
			</a>
			<a href="javascript:;" class="case-item">
				<div class="case-item-img">
					<img src="/static/home/images/upload/caseimg7.jpg" class="case-item-image" />
				</div>
				<p class="case-item-text">霍城旅游</p>
			</a>
			<a href="javascript:;" class="case-item">
				<div class="case-item-img">
					<img src="/static/home/images/upload/caseimg8.jpg" class="case-item-image" />
				</div>
				<p class="case-item-text">五龙河</p>
			</a>
			<a href="javascript:;" class="case-item">
				<div class="case-item-img">
					<img src="/static/home/images/upload/caseimg9.jpg" class="case-item-image" />
				</div>
				<p class="case-item-text">涠洲岛</p>
			</a>
			<a href="javascript:;" class="case-item">
				<div class="case-item-img">
					<img src="/static/home/images/upload/caseimg10.jpg" class="case-item-image" />
				</div>
				<p class="case-item-text">石门旅游</p>
			</a>
			<a href="javascript:;" class="case-item">
				<div class="case-item-img">
					<img src="/static/home/images/upload/caseimg11.jpg" class="case-item-image" />
				</div>
				<p class="case-item-text">桐柏山</p>
			</a>
			<a href="javascript:;" class="case-item">
				<div class="case-item-img">
					<img src="/static/home/images/upload/caseimg12.jpg" class="case-item-image" />
				</div>
				<p class="case-item-text">重庆动物园</p>
			</a>
			<a href="javascript:;" class="case-item">
				<div class="case-item-img">
					<img src="/static/home/images/upload/caseimg13.jpg" class="case-item-image" />
				</div>
				<p class="case-item-text">圣井山</p>
			</a>
			<a href="javascript:;" class="case-item">
				<div class="case-item-img">
					<img src="/static/home/images/upload/caseimg14.jpg" class="case-item-image" />
				</div>
				<p class="case-item-text">佘山旅游</p>
			</a>
			<a href="javascript:;" class="case-item">
				<div class="case-item-img">
					<img src="/static/home/images/upload/caseimg15.jpg" class="case-item-image" />
				</div>
				<p class="case-item-text">桃花源古镇</p>
			</a>
			<a href="javascript:;" class="case-item">
				<div class="case-item-img">
					<img src="/static/home/images/upload/caseimg16.jpg" class="case-item-image" />
				</div>
				<p class="case-item-text">梵净山</p>
			</a>
			<a href="javascript:;" class="case-item">
				<div class="case-item-img">
					<img src="/static/home/images/upload/caseimg17.jpg" class="case-item-image" />
				</div>
				<p class="case-item-text">重庆工业文化博览园</p>
			</a>
			<a href="javascript:;" class="case-item">
				<div class="case-item-img">
					<img src="/static/home/images/upload/caseimg18.jpg" class="case-item-image" />
				</div>
				<p class="case-item-text">崆山白云洞</p>
			</a>
			<a href="javascript:;" class="case-item">
				<div class="case-item-img">
					<img src="/static/home/images/upload/caseimg19.jpg" class="case-item-image" />
				</div>
				<p class="case-item-text">皋亭山</p>
			</a>
			<a href="javascript:;" class="case-item">
				<div class="case-item-img">
					<img src="/static/home/images/upload/caseimg20.jpg" class="case-item-image" />
				</div>
				<p class="case-item-text">更多案例</p>
			</a>
		</div>
	</div>
</div>
{/block}
{block name="js"}
<script type="text/javascript">
    $(document).ready(function() {
        //鼠标悬浮在导航上下拉
        $('.nav-li').hover(function(){
            var _this =$(this);
            if($(_this).hasClass('active')){
                return false;
            }else{
                $('.nav-li.active').removeClass('active');
                $(_this).addClass('active');
                $('.second-links').stop().slideUp();
                $(_this).find('.second-links').stop().slideDown();
            }

        });
        $('.second-links').hover(function(){

        },function(){
            $(this).stop().slideUp();
        });
        //当前页
        $('#case_swiper').flexslider({
            animation: "slides",
            direction:"horizontal",
            slideshow : false
        });
        //点击切换案例
        $('.case-swiper .flex-control-nav li').click(function(){
            var i = $(this).index();
            $('.case-thumbs .case-thumb-active').removeClass('case-thumb-active');
            $('.case-thumbs .case-thumb').eq(i).addClass('case-thumb-active');
        });
    });
</script>
{/block}