<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<title>景运管家</title>
		<link rel="stylesheet" href="css/base.css"  />
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/other.css" />
	</head>
	<body>
		<!--header-->
		<div class="header">
			<div class="logo-div">
				<img src="images/system/logo.png" class="head-logo-img">
			</div>
	  	   	<ul class="main-nav">
			    <li class="nav-li" >
			    	<a class="nav-link nav-link-active" href="#page1">首页</a>
			    </li>
			    <li class="nav-li" >
			    	<a class="nav-link" href="#page2">产品与服务</a>
			    	<div class="second-links">
			    		<a href="javascript:;" class="second-link">公众号</a>
			    		<a href="javascript:;" class="second-link">小程序</a>
			    	</div>
			    </li>
			    <li class="nav-li" >
			    	<a class="nav-link" href="#page4">公司简介</a>
			    	<div class="second-links">
			    		<a href="javascript:;" class="second-link">公众号</a>
			    		<a href="javascript:;" class="second-link">小程序</a>
			    	</div>
			    </li>
			    <li class="nav-li" >
			    	<a class="nav-link" href="#page5">公司动态</a>
			    	<div class="second-links">
			    		<a href="javascript:;" class="second-link">公众号</a>
			    		<a href="javascript:;" class="second-link">小程序</a>
			    	</div>
			    </li>
			    <li class="nav-li" >
			    	<a class="nav-link" href="#page6">联系我们</a>
			    </li>
		   </ul>
		   <div class="header-login">
		   		<a href="javascript:;" class="header-login-link">登录</a>
		   		<a href="javascript:;" class="header-login-link header-login-link-reg">注册</a>
		   </div>
  	    </div>
  	    <div class="header-zw"></div>
		<!--header end-->
		<!--sbanner-->
		<div class="sbanner">
			<img src="images/system/sbanner_case.jpg" class="sbanner-image" />
			<div class="sbanner-con">
				<p class="sbanner-title">CLASSIC CASE</p>
				<a  href="javascript:;" class="sbanner-btn">经典案件</a>
			</div>
		</div>
		<!--sbanner end-->
		<!--case-sliders-->
		<div class="case-sliders w1200">
			<h3 class="case-title">全网营销案例</h3>
			<div class="case-swiper" id="case_swiper">
				<div class="case-thumbs">
					<div class="case-thumb case-thumb-active">
						<img src="images/upload/case_thumb.png" class="case-thumb-image" />
					</div>
					<div class="case-thumb">
						<img src="images/upload/case_thumb_02.png" class="case-thumb-image" />
					</div>
					<div class="case-thumb">
						<img src="images/upload/case_thumb_03.png" class="case-thumb-image" />
					</div>
					<div class="case-thumb">
						<img src="images/upload/case_thumb_04.png" class="case-thumb-image" />
					</div>
				</div>
				<ul class="slides">
			   		<li class="slide">
			   			<div class="case-list">
			   				<h6 class="case-list-title">
			   					<span class="case-three-icon"></span>
			   					乐和乐都主题乐园
			   					<span class="case-three-icon case-three-icon-right"></span>
			   				</h6>
			   				<img src="images/upload/case_01.jpg" class="case-list-image" />
			   				<div class="case-list-text">
			   					<p>重庆乐和乐都休闲度假主题公园位于重庆市永川区，距重庆主城区65公里，占地面积5000余亩，总投资30亿，</p>
								<p>是西部规模最大，功能最全，最具特色，重庆唯一的超大型主题公园。</p></div>
			   				<div class="case-list-ewm">
			   					<img src="images//upload/ewm.jpg" class="case-list-ewm-image" />扫描二维码，立即体验~
			   				</div>
			   			</div>
		   			</li>
		   			<li class="slide">
			   			<div class="case-list">
			   				<h6 class="case-list-title">
			   					<span class="case-three-icon"></span>
			   					雁荡山
			   					<span class="case-three-icon case-three-icon-right"></span>
			   				</h6>
			   				<img src="images/upload/case_02.jpg" class="case-list-image" />
			   				<div class="case-list-text">
			   					<p>雁荡山，首批国家重点风景名胜区，国家级“卫生山、安全山、文明山”、国家文明风景名胜区、国家AAAAA级旅游区、</p>
								<p>全国文明风景旅游区示范点、“世界地质公园”等称号。位于中国浙江省乐清市境内，部分位于永嘉县及温岭市。 </p></div>
			   				<div class="case-list-ewm">
			   					<img src="images/upload/ewm.jpg" class="case-list-ewm-image" />扫描二维码，立即体验~
			   				</div>
			   			</div>
		   			</li>
		   			<li class="slide">
			   			<div class="case-list">
			   				<h6 class="case-list-title">
			   					<span class="case-three-icon"></span>
			   					西江千户苗寨
			   					<span class="case-three-icon case-three-icon-right"></span>
			   				</h6>
			   				<img src="images/upload/case_03.jpg" class="case-list-image" />
			   				<div class="case-list-text">
			   					<p>西江千户苗寨是一个保存苗族“原始生态”文化完整的地方，由10余个依山而建的自然村寨相连成片，</p>
								<p>是目前中国乃至全世界最大的苗族聚居村寨。它是领略和认识中国苗族漫长历史与发展之地。</p></div>
			   				<div class="case-list-ewm">
			   					<img src="images//upload/ewm.jpg" class="case-list-ewm-image" />扫描二维码，立即体验~
			   				</div>
			   			</div>
		   			</li>
		   			<li class="slide">
			   			<div class="case-list">
			   				<h6 class="case-list-title">
			   					<span class="case-three-icon"></span>
			   					海龙屯
			   					<span class="case-three-icon case-three-icon-right"></span>
			   				</h6>
			   				<img src="images/upload/case_04.jpg" class="case-list-image" />
			   				<div class="case-list-text">
			   					<p>海龙屯位于贵州省遵义市老城西北约28公里的龙岩山巅，又称海龙囤、龙岩囤、龙岩屯，是一处宋明时期的“土司”城堡遗址。</p>
								<p>其行政区划属遵义市汇川区高坪镇海龙屯村双龙组。海龙屯于1982年公布为省级文物保护单位，2001年晋升为全国重点文物保护单位 ，
	2015年7月4日在第39届世界遗产大会上列入《世界遗产名录》。</p></div>
			   				<div class="case-list-ewm">
			   					<img src="images//upload/ewm.jpg" class="case-list-ewm-image" />扫描二维码，立即体验~
			   				</div>
			   			</div>
		   			</li>
		   		</ul>
		   	</div>
		</div>
		<!--case-sliders-->
		<div class="case-lists">
			<div class="w1200">
				<h3 class="case-title">全网营销案例</h3>
				<div class="case-items fn-clear">
					<a href="javascript:;" class="case-item">
						<div class="case-item-img">
							<img src="images/upload/case_img.jpg" class="case-item-image" />
						</div>
						<p class="case-item-text">天津方特</p>
					</a>
					<a href="javascript:;" class="case-item">
						<div class="case-item-img">
							<img src="images/upload/case_img.jpg" class="case-item-image" />
						</div>
						<p class="case-item-text">天津方特</p>
					</a>
					<a href="javascript:;" class="case-item">
						<div class="case-item-img">
							<img src="images/upload/case_img.jpg" class="case-item-image" />
						</div>
						<p class="case-item-text">天津方特</p>
					</a>
					<a href="javascript:;" class="case-item">
						<div class="case-item-img">
							<img src="images/upload/case_img.jpg" class="case-item-image" />
						</div>
						<p class="case-item-text">天津方特</p>
					</a>
					<a href="javascript:;" class="case-item">
						<div class="case-item-img">
							<img src="images/upload/case_img.jpg" class="case-item-image" />
						</div>
						<p class="case-item-text">天津方特</p>
					</a>
					<a href="javascript:;" class="case-item">
						<div class="case-item-img">
							<img src="images/upload/case_img.jpg" class="case-item-image" />
						</div>
						<p class="case-item-text">天津方特</p>
					</a>
				</div>	
			</div>
		</div>
		<!--footer-->
		<div class="footer">
			<div class="w1200 fn-clear">
				<div class="footer-con">
					<div class="footer-title">
						公司新闻
						<a href="javascript:;" class="footer-title-more">更多 ></a>
					</div>
					<div class="footer-news">
						<a href="javascript:;" class="footer-new">08/16 恭喜景运管家获得数千万融资</a>
						<a href="javascript:;" class="footer-new">08/16 恭喜景运管家获得数千万融资</a>
						<a href="javascript:;" class="footer-new">08/16 恭喜景运管家获得数千万融资</a>
						<a href="javascript:;" class="footer-new">08/16 恭喜景运管家获得数千万融资</a>
					</div>
					<span class="footer-line"></span>
				</div>
				<div class="footer-con footer-con-02">
					<div class="footer-title">
						解决方案
					</div>
					<div class="footer-news">
						<a href="javascript:;" class="footer-link">智慧景区</a>
						<a href="javascript:;" class="footer-link">主题公园</a>
						<a href="javascript:;" class="footer-link">展览展会</a>
						<a href="javascript:;" class="footer-link">全域旅游</a>
					</div>
					<span class="footer-line"></span>
				</div>
				<div class="footer-con footer-con-03">
					<div class="footer-title">
						友情链接
					</div>
					<div class="footer-news">
						<a href="javascript:;" class="footer-link">国家文化旅游部</a>
						<a href="javascript:;" class="footer-link">重庆市文化旅游局</a>
					</div>
					<span class="footer-line"></span>
				</div>
				<div class="footer-con footer-con-04">
					<div class="footer-title">
						联系我们
					</div>
					<div class="footer-news">
						<p class="footer-new">客服专线：400-1234-567</p>
						<p class="footer-new">客服邮箱：123456@jygj.com</p>
						<p class="footer-addr">地址：上海市金山区廊下镇景乐路228
      						<p>　　　号7幢N299室</p>
						</p>
					</div>
				</div>
				<div class="footer-ewm">
					<img src="images/system/ewm.jpg" class="footer-ewm-image" />
					<p>扫码关注微信公众号</p>
				</div>
			</div>
			<div class="footer-copy">Copyright ©2013-2018 上海微奥信息科技有限公司 版权所有 沪ICP备15054606号-3</div>
		</div>
		<!--footer end-->
		<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
		<script type="text/javascript" src="js/slider.js"></script>
	    <script type="text/javascript">
		$(document).ready(function() {
			//鼠标悬浮在导航上下拉
			$('.nav-li').hover(function(){
				var _this =$(this);
				if($(_this).hasClass('active')){
					return false;
				}else{
					$('.nav-li.active').removeClass('active');
					$(_this).addClass('active');
					$('.second-links').stop().slideUp();
					$(_this).find('.second-links').stop().slideDown();
				}
				
			});
			$('.second-links').hover(function(){
				
			},function(){
				$(this).stop().slideUp();
			});
			//当前页
			$('#case_swiper').flexslider({
				animation: "slides",
				direction:"horizontal",
				slideshow : false
			});
			//点击切换案例
			$('.case-swiper .flex-control-nav li').click(function(){
				var i = $(this).index();
				$('.case-thumbs .case-thumb-active').removeClass('case-thumb-active');
				$('.case-thumbs .case-thumb').eq(i).addClass('case-thumb-active');
			});
		});
		</script>
	</body>
</html>