{extend name="layout"}

{block name="content"}
<style>
	.detail-title{
		margin: 50px 0 0 50px;
	}
	.detail-title li{
		font-size: 16px;
		float: left;
	}
</style>
		<!--header-->
  	    <div class="header-zw"></div>
		<!--header end-->
		<!--sbanner-->
		<div class="sbanner">
			<img src="/static/home/images/system/sbanner_news.jpg" class="sbanner-image" />
			<div class="sbanner-con">
				<p class="sbanner-title">COMPANY NEWS</p>
				<a  href="javascript:;" class="sbanner-btn">{$articleBelongName}</a>
			</div>
		</div>
		<!--sbanner end-->
		<!--detail-main-->
		<div class="w1200">
			<ul class="detail-title">
				<li><a href="/">景运管家</a></li>
				<li>></li>
				<li><a href="/news.html">{$articleBelongName}</a></li>
			</ul>
			<div class="detail-main">
				<div class="detail-main-top">
					<h5 class="detail-main-title">{$data['title']}</h5>
					<p class="detail-time-par">
						<span class="detail-time">发布时间：{$data['created_at']}</span>
						<span>点击数：<span class="red-text">{$data['hints']}</span></span>
					</p>
				</div>
				<div class="detail-detail">
					{$data['content']}
				</div>
			</div>
		</div>
		<!--detail-main end-->

<!--detail-add -->
<div class="w1200">
<div class="detail-add">
	<a href="/news.html" class="more">更多</a>
	<div class="detail-add-title">
		{if condition="isset($similarArticles['previous_id'])"}
		<a href="/news/{$similarArticles['previous_id']}.html"><span>&lt; 上一篇：{$similarArticles['previous_title']}</span></a>
		{/if}
		{if condition="isset($similarArticles['next_id'])"}
		<a href="/news/{$similarArticles['next_id']}.html"><span>&gt; 下一篇：{$similarArticles['next_title']}</span></a>
		{/if}
	</div>
	<div class="detail-add-list">
		<p>推荐阅读</p>
		<div class="ditail-add-list-one">
			{volist name="recommendedReading[0]" id="vo"}
			<a href="/news/{$vo['id']}.html"><p>{$vo['title']}</p></a>
			{/volist}
		</div>
		<div class="ditail-add-list-one">
			{volist name="recommendedReading[1]" id="vo"}
			<a href="/news/{$vo['id']}.html"><p>{$vo['title']}</p></a>
			{/volist}
		</div>
	</div>
</div>
</div>

<!--detail-add end-->
		{/block}
		{block name="js"}
	    <script type="text/javascript">
		$(document).ready(function() {
			//鼠标悬浮在导航上下拉
			$('.nav-li').hover(function(){
				var _this =$(this);
				if($(_this).hasClass('active')){
					return false;
				}else{
					$('.nav-li.active').removeClass('active');
					$(_this).addClass('active');
					$('.second-links').stop().slideUp();
					$(_this).find('.second-links').stop().slideDown();
				}
				
			});
			$('.second-links').hover(function(){
				
			},function(){
				$(this).stop().slideUp();
			});
			
		});
		</script>
		{/block}
