<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<title>景运管家</title>
		<link rel="stylesheet" href="css/base.css"  />
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/index.css" />
	</head>
	<body>
		<!--header-->
		<div class="header">
			<div class="logo-div">
				<img src="images/system/logo.png" class="head-logo-img">
			</div>
	  	   	<ul class="main-nav">
			    <li class="nav-li" >
			    	<a class="nav-link nav-link-active" href="#page1">首页</a>
			    </li>
			    <li class="nav-li" >
			    	<a class="nav-link" href="#page2">产品与服务</a>
			    	<div class="second-links">
			    		<a href="javascript:;" class="second-link">公众号</a>
			    		<a href="javascript:;" class="second-link">小程序</a>
			    	</div>
			    </li>
			    <li class="nav-li" >
			    	<a class="nav-link" href="#page4">公司简介</a>
			    	<div class="second-links">
			    		<a href="javascript:;" class="second-link">公众号</a>
			    		<a href="javascript:;" class="second-link">小程序</a>
			    	</div>
			    </li>
			    <li class="nav-li" >
			    	<a class="nav-link" href="#page5">公司动态</a>
			    	<div class="second-links">
			    		<a href="javascript:;" class="second-link">公众号</a>
			    		<a href="javascript:;" class="second-link">小程序</a>
			    	</div>
			    </li>
			    <li class="nav-li" >
			    	<a class="nav-link" href="#page6">联系我们</a>
			    </li>
		   </ul>
		   <div class="header-login">
		   		<a href="javascript:;" class="header-login-link">登录</a>
		   		<a href="javascript:;" class="header-login-link header-login-link-reg">注册</a>
		   </div>
  	    </div>
  	    <div class="header-zw"></div>
		<!--header end-->
		<!--banner-->
		<div class="banner" id="banner">
			<ul class="slides">
		   		<li class="slide">
		   			<img src="images/system/company.jpg" class="banner-image" />
	   			</li>
	   			<li class="slide">
		   			<img src="images/system/company.jpg" class="banner-image" />
	   			</li>
	   		</ul>
		</div>
		<!--banner end-->
		<!--use-index-->
		<div class="use-index">
			<img src="images/system/user_bg.jpg" class="use-bg-image" />
			<div class="col-con">
				<div class="col-title">
					<img src="images/system/index_title_01.png" class="index-title-image" />
				</div>
				<div class="w1200">
					<div class="use-item">
						<div class="use-item-con">
							<div class="user-item-cricle">
								<span class="user-icon"></span>
							</div>
							<p class="user-item-title">智慧景区</p>
							<a href="javascript:;" class="user-item-link">查看详情</a>
						</div>
					</div>
					<div class="use-item">
						<div class="use-item-con">
							<div class="user-item-cricle">
								<span class="user-icon user-icon-02"></span>
							</div>
							<p class="user-item-title">主题乐园</p>
							<a href="javascript:;" class="user-item-link">查看详情</a>
						</div>
					</div>
					<div class="use-item">
						<div class="use-item-con">
							<div class="user-item-cricle">
								<span class="user-icon user-icon-03"></span>
							</div>
							<p class="user-item-title">展览展会</p>
							<a href="javascript:;" class="user-item-link">查看详情</a>
						</div>
					</div>
					<div class="use-item">
						<div class="use-item-con">
							<div class="user-item-cricle">
								<span class="user-icon user-icon-04"></span>
							</div>
							<p class="user-item-title">全域旅游</p>
							<a href="javascript:;" class="user-item-link">查看详情</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--use-index end-->
		<!--solution-index-->
		<div class="solution-index">
			<div class="col-con">
				<div class="col-title">
					<img src="images/system/index_title_02.png" class="index-title-image" />
				</div>
				<div class="w1200 solution">
					<div class="solution-item solution-01" data-num="0">
						<img src="images/system/solution_01.png" class="solution-index-bg" />
						<img src="images/system/solution_01_top.png" class="solution-index-bg-top" />
						<div class="solution-index-text">
							<span class="solution-icon"></span>验票购票
						</div>
					</div>
					<div class="solution-item solution-02" data-num="1">
						<img src="images/system/solution_02.png" class="solution-index-bg" />
						<img src="images/system/solution_02_top.png" class="solution-index-bg-top" />
						<div class="solution-index-text">
							<span class="solution-icon solution-icon-02"></span>电子导览
						</div>
					</div>
					<div class="solution-item solution-03" data-num="2">
						<img src="images/system/solution_03.png" class="solution-index-bg" />
						<img src="images/system/solution_03_top.png" class="solution-index-bg-top" />
						<div class="solution-index-text">
							<span class="solution-icon solution-icon-03"></span>营销活动
						</div>
					</div>
					<div class="solution-layer"></div>
					<div class="solution-dia" id="solution_dia_0">
						<span class="solution-dia-close"></span>
						<h3 class="solution-dia-title">验票购票</h3>
						<div class="solution-dia-images">
							<img src="images/system/s1.jpg" class="solution-dia-image" />
							<img src="images/system/s2.jpg" class="solution-dia-image" />
							<img src="images/system/s3.jpg" class="solution-dia-image" />
						</div>
						<p class="solution-dia-text">利用微信支付，在微信端实现门票直销，不再完全依赖OTA，开辟自己的销售渠道。</p>
					</div>
					<div class="solution-dia" id="solution_dia_1">
						<span class="solution-dia-close"></span>
						<h3 class="solution-dia-title">电子导览</h3>
						<div class="solution-dia-images">
							<img src="images/system/s4.jpg" class="solution-dia-image" />
							<img src="images/system/s5.jpg" class="solution-dia-image" />
							<img src="images/system/s6.jpg" class="solution-dia-image" />
						</div>
						<p class="solution-dia-text">利用微信定位、手绘地图、语音解说等众多高科技功能相互组合，打造智慧景区感官盛宴！</p>
					</div>
					<div class="solution-dia" id="solution_dia_2">
						<span class="solution-dia-close"></span>
						<h3 class="solution-dia-title">营销活动</h3>
						<div class="solution-dia-images">
							<img src="images/system/s7.jpg" class="solution-dia-image" />
							<img src="images/system/s8.jpg" class="solution-dia-image" />
							<img src="images/system/s9.jpg" class="solution-dia-image" />
						</div>
						<p class="solution-dia-text">快速生成大转盘、老虎机、刮刮卡等线上活动，辅助日常运营，刺激用户参与，实现景区品牌传播与拉新。</p>
					</div>
				</div>
			</div>
		</div>
		<!--solution-index end-->
		<!--case-index-->
		<div class="case-index">
			<img src="images/system/case_index_bg.png" class="use-bg-image" />
			<div class="col-con">
				<div class="col-title">
					<img src="images/system/index_title_03.png" class="index-title-image" />
				</div>
				<div class="w1200 case">
					<div class="case-items">
						<div class="case-item">
							<img src="images/upload/case1.jpg" class="case-image" />
						</div>
						<div class="case-item">
							<img src="images/upload/case1.jpg" class="case-image" />
						</div>
						<div class="case-item">
							<img src="images/upload/case1.jpg" class="case-image" />
						</div>
						<div class="case-item">
							<img src="images/upload/case1.jpg" class="case-image" />
						</div>
						<div class="case-item">
							<img src="images/upload/case1.jpg" class="case-image" />
						</div>
						<div class="case-item">
							<img src="images/upload/case1.jpg" class="case-image" />
						</div>
						<div class="case-item">
							<img src="images/upload/case1.jpg" class="case-image" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--case-index end-->
		<!--about-index-->
		<div class="about-index">
			<img src="images/system/about_index_bg.jpg" class="use-bg-image about-bg-image" />
			<div class="col-con">
				<div class="col-title">
					<img src="images/system/index_title_04.png" class="index-title-image" />
				</div>
				<div class="w1200 case">
					<div class="about-index-con">
						<img src="images/system/company.jpg"  class="about-index-company" />
						<div class="about-index-company-text">重庆微景通科技有限公司（简称：微景通）成立于2013年，是国内领先的移动营销解决方案服务商，本着“专注深耕细作”的企业理念，致力于旅游景区移动营销产品的研发与运营。成立至今，依靠优秀的产品和服务能力，微景通已成为国内最大的旅游行业微信第三方平台，接入服务景区超过1000家包括秦始皇帝陵博物院、雁荡山、华清宫、白水洋、鸳鸯溪、金佛山、天柱山、天目湖、台儿庄古城等一大批5A级景区。	
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--about-index end-->
		<!--footer-->
		<div class="footer">
			<div class="w1200 fn-clear">
				<div class="footer-con">
					<div class="footer-title">
						公司新闻
						<a href="javascript:;" class="footer-title-more">更多 ></a>
					</div>
					<div class="footer-news">
						<a href="javascript:;" class="footer-new">08/16 恭喜景运管家获得数千万融资</a>
						<a href="javascript:;" class="footer-new">08/16 恭喜景运管家获得数千万融资</a>
						<a href="javascript:;" class="footer-new">08/16 恭喜景运管家获得数千万融资</a>
						<a href="javascript:;" class="footer-new">08/16 恭喜景运管家获得数千万融资</a>
					</div>
					<span class="footer-line"></span>
				</div>
				<div class="footer-con footer-con-02">
					<div class="footer-title">
						解决方案
					</div>
					<div class="footer-news">
						<a href="javascript:;" class="footer-link">智慧景区</a>
						<a href="javascript:;" class="footer-link">主题公园</a>
						<a href="javascript:;" class="footer-link">展览展会</a>
						<a href="javascript:;" class="footer-link">全域旅游</a>
					</div>
					<span class="footer-line"></span>
				</div>
				<div class="footer-con footer-con-03">
					<div class="footer-title">
						友情链接
					</div>
					<div class="footer-news">
						<a href="javascript:;" class="footer-link">国家文化旅游部</a>
						<a href="javascript:;" class="footer-link">重庆市文化旅游局</a>
					</div>
					<span class="footer-line"></span>
				</div>
				<div class="footer-con footer-con-04">
					<div class="footer-title">
						联系我们
					</div>
					<div class="footer-news">
						<p class="footer-new">客服专线：400-1234-567</p>
						<p class="footer-new">客服邮箱：123456@jygj.com</p>
						<p class="footer-addr">地址：上海市金山区廊下镇景乐路228
      						<p>　　　号7幢N299室</p>
						</p>
					</div>
				</div>
				<div class="footer-ewm">
					<img src="images/system/ewm.jpg" class="footer-ewm-image" />
					<p>扫码关注微信公众号</p>
				</div>
			</div>
			<div class="footer-copy">Copyright ©2013-2018 上海微奥信息科技有限公司 版权所有 沪ICP备15054606号-3</div>
		</div>
		<!--footer end-->
	<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="js/slider.js"></script>
    <script type="text/javascript">
	$(document).ready(function() {
		$('#banner').flexslider({
			animation: "slides",
			direction:"horizontal",
			slideshowSpeed : 7000,
			start: function(){
				$('.section1 .flex-next').click();
				$('.section1 .flex-prev').click();
			},
		});
		//鼠标悬浮在导航上下拉
		$('.nav-li').hover(function(){
			var _this =$(this);
			if($(_this).hasClass('active')){
				return false;
			}else{
				$('.nav-li.active').removeClass('active');
				$(_this).addClass('active');
				$('.second-links').stop().slideUp();
				$(_this).find('.second-links').stop().slideDown();
			}
			
		});
		$('.second-links').hover(function(){
			
		},function(){
			$(this).stop().slideUp();
		});
		$('.nav-li').focus(function(){
			var _this =$(this);
			$('.second-links').slideDown();
			$(_this).find('.second-links').slideUp();
			return false;
		});
		//点击营销活动弹出对话框
		$('.solution-item').click(function(){
			var i = $(this).data('num');
			$('.solution-layer').show();
			$('#solution_dia_'+i).fadeIn();
		});
		$('.solution-dia-close').click(function(){
			$(this).parents('.solution-dia').fadeOut();
			$('.solution-layer').hide();
		})
	});
	</script>
	</body>
</html>
