{extend name="layout"}
{block name="content"}
<div class="header-zw"></div>
<!--header end-->
<!--banner-->
<div class="banner" id="banner">
	<ul class="slides">
		<li class="slide" class="banner-item">
			<img src="/static/home/images/system/banner_1.jpg" class="banner-image" />
			<div class="banner-con">
				<img src="/static/home/images/system/banner_img_01.png" class="banner-01-img" />
				<h1 class="banner1-title"><span class="banner-red-text">旅游行业</span>全网营销方案</h1>
				<p class="banner1-des">智慧票务 + 智慧导览 + 智慧营销</p>
				<a href="javascript:;" class="banner1-link">了解更多</a>
			</div>
		</li>
		<li class="slide">
			<img src="/static/home/images/system/banner_2.jpg" class="banner-image" />
			<div class="banner-con">
				<h1 class="banner2-title">智慧景区产品库</h1>
				<p class="banner2-des">INTELLIGENT SCENIC STOP PRODUCT LIBRARY</p>
				<div class="banner2-text">
					<img src="/static/home/images/system/banner_2_3.png" class="banner-2-3">
					<img src="/static/home/images/system/banner_2_4.png" class="banner-2-4">
					<img src="/static/home/images/system/banner_2_5.png" class="banner-2-5">
				</div>
			</div>
		</li>
		<li class="slide">
			<img src="/static/home/images/system/banner_3.jpg" class="banner-image" />
			<div class="banner-con con3">
				<h1 class="banner3-title"><img src="/static/home/images/system/banner-3-text.png"></h1>
				<ul>
					<li><img src="/static/home/images/system/banner_3_1.png"></li>
					<li><img src="/static/home/images/system/banner_3_2.png"></li>
					<li><img src="/static/home/images/system/banner_3_3.png"></li>
					<li><img src="/static/home/images/system/banner_3_4.png"></li>
					<li><img src="/static/home/images/system/banner_3_5.png"></li>
					<li><img src="/static/home/images/system/banner_3_6.png"></li>
					<li><img src="/static/home/images/system/banner_3_7.png"></li>
					<li><img src="/static/home/images/system/banner_3_8.png"></li>
					<li><img src="/static/home/images/system/banner_3_9.png"></li>
					<li><img src="/static/home/images/system/banner_3_10.png"></li>
					<li><img src="/static/home/images/system/banner_3_11.png"></li>
					<li><img src="/static/home/images/system/banner_3_12.png"></li>
				</ul>
			</div>
		</li>
		<li class="slide">
			<img src="/static/home/images/system/banner_4_3.jpg" class="banner-image" />
			<div class="banner-con">
				<img src="/static/home/images/system/banner_4_4.png" class="banner4-shadow">
				<img src="/static/home/images/system/banner_4_1.png" class="banner4-text">
				<img src="/static/home/images/system/banner_4_2.png" class="banner4-img">
			</div>
		</li>
	</ul>
</div>
<!--banner end-->
<!--use-index-->
<div class="use-index">
	<div class="col-con">
		<div class="col-title">
			<img src="/static/home/images/system/index_title_01.png" class="index-title-image" />
		</div>
		<div class="w1200">
			<div class="use-item">
				<div class="use-item-con">
					<div class="user-item-cricle">
						<span class="user-icon"></span>
					</div>
					<p class="user-item-title">智慧景区</p>
					<a href="/application_wisdom.html" class="user-item-link">查看详情</a>
				</div>
			</div>
			<div class="use-item">
				<div class="use-item-con">
					<div class="user-item-cricle">
						<span class="user-icon user-icon-02"></span>
					</div>
					<p class="user-item-title">主题乐园</p>
					<a href="application_theme.html" class="user-item-link">查看详情</a>
				</div>
			</div>
			<div class="use-item">
				<div class="use-item-con">
					<div class="user-item-cricle">
						<span class="user-icon user-icon-03"></span>
					</div>
					<p class="user-item-title">展览展会</p>
					<a href="application.html" class="user-item-link">查看详情</a>
				</div>
			</div>
			<div class="use-item">
				<div class="use-item-con">
					<div class="user-item-cricle">
						<span class="user-icon user-icon-04"></span>
					</div>
					<p class="user-item-title">全域旅游</p>
					<a href="application_tourism.html" class="user-item-link">查看详情</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--use-index end-->
<!--solution-index-->
<div class="solution-index">
	<div class="col-con">
		<div class="col-title">
			<img src="/static/home/images/system/index_title_02.png" class="index-title-image" />
		</div>
		<div class="w1200 solution">
			<div class="solution-item solution-01" data-num="0">
				<img src="/static/home/images/system/solution_01.png" class="solution-index-bg" />
				<img src="/static/home/images/system/solution_01_top.png" class="solution-index-bg-top" />
				<div class="solution-index-text">
					<span class="solution-icon"></span>验票购票
				</div>
			</div>
			<div class="solution-item solution-02" data-num="1">
				<img src="/static/home/images/system/solution_02.png" class="solution-index-bg" />
				<img src="/static/home/images/system/solution_02_top.png" class="solution-index-bg-top" />
				<div class="solution-index-text">
					<span class="solution-icon solution-icon-02"></span>电子导览
				</div>
			</div>
			<div class="solution-item solution-03" data-num="2">
				<img src="/static/home/images/system/solution_03.png" class="solution-index-bg" />
				<img src="/static/home/images/system/solution_03_top.png" class="solution-index-bg-top" />
				<div class="solution-index-text">
					<span class="solution-icon solution-icon-03"></span>营销活动
				</div>
			</div>
			<div class="solution-layer"></div>
			<div class="solution-dia" id="solution_dia_0">
				<span class="solution-dia-close"></span>
				<h3 class="solution-dia-title">验票购票</h3>
				<div class="solution-dia-images">
					<img src="/static/home/images/system/s1.jpg" class="solution-dia-image" />
					<img src="/static/home/images/system/s2.jpg" class="solution-dia-image" />
					<img src="/static/home/images/system/s3.jpg" class="solution-dia-image" />
				</div>
				<p class="solution-dia-text">利用微信支付，在微信端实现门票直销，不再完全依赖OTA，开辟自己的销售渠道。</p>
			</div>
			<div class="solution-dia" id="solution_dia_1">
				<span class="solution-dia-close"></span>
				<h3 class="solution-dia-title">电子导览</h3>
				<div class="solution-dia-images">
					<img src="/static/home/images/system/s4.jpg" class="solution-dia-image" />
					<img src="/static/home/images/system/s5.jpg" class="solution-dia-image" />
					<img src="/static/home/images/system/s6.jpg" class="solution-dia-image" />
				</div>
				<p class="solution-dia-text">利用微信定位、手绘地图、语音解说等众多高科技功能相互组合，打造智慧景区感官盛宴！</p>
			</div>
			<div class="solution-dia" id="solution_dia_2">
				<span class="solution-dia-close"></span>
				<h3 class="solution-dia-title">营销活动</h3>
				<div class="solution-dia-images">
					<img src="/static/home/images/system/s7.jpg" class="solution-dia-image" />
					<img src="/static/home/images/system/s8.jpg" class="solution-dia-image" />
					<img src="/static/home/images/system/s9.jpg" class="solution-dia-image" />
				</div>
				<p class="solution-dia-text">快速生成大转盘、老虎机、刮刮卡等线上活动，辅助日常运营，刺激用户参与，实现景区品牌传播与拉新。</p>
			</div>
		</div>
	</div>
</div>
<!--solution-index end-->
<!--case-index-->
<div class="case-index">
	<div class="col-con">
		<div class="col-title">
			<img src="/static/home/images/system/index_title_03.png" class="index-title-image" />
		</div>
		<div class="w1200 case">
			<div class="case-items">
				<div class="case-item">
					<img src="/static/home/images/upload/case1.jpg" class="case-image" />
				</div>
				<div class="case-item">
					<img src="/static/home/images/upload/case2.png" class="case-image" />
				</div>
				<div class="case-item">
					<img src="/static/home/images/upload/case3.png" class="case-image" />
				</div>
				<div class="case-item">
					<img src="/static/home/images/upload/case4.png" class="case-image" />
				</div>
				<div class="case-item">
					<img src="/static/home/images/upload/case5.png" class="case-image" />
				</div>
				<div class="case-item">
					<img src="/static/home/images/upload/case6.png" class="case-image" />
				</div>
				<div class="case-item">
					<img src="/static/home/images/upload/case7.png" class="case-image" />
				</div>
				<div class="case-item">
					<img src="/static/home/images/upload/case8.png" class="case-image" />
				</div>
				<div class="case-item">
					<img src="/static/home/images/upload/case9.png" class="case-image" />
				</div>
				<div class="case-item">
					<img src="/static/home/images/upload/case10.png" class="case-image" />
				</div>
				<div class="case-item">
					<img src="/static/home/images/upload/case11.png" class="case-image" />
				</div>
				<div class="case-item">
					<img src="/static/home/images/upload/case12.png" class="case-image" />
				</div>
				<div class="case-item">
					<img src="/static/home/images/upload/case13.png" class="case-image" />
				</div>
				<div class="case-item">
					<img src="/static/home/images/upload/case14.png" class="case-image" />
				</div>
				<div class="case-item">
					<img src="/static/home/images/upload/case15.png" class="case-image" />
				</div>
			</div>
		</div>
	</div>
</div>
<!--case-index end-->
<!--coopration-index-->
<div class="coopration-index">
	<div class="col-con">
		<div class="col-title">
			<img src="/static/home/images/system/index_title_05.png" class="index-title-image img5" />
			<div class="product-des white">
				<p>全国城市合伙人招募中</p>
				<p>智慧旅游、小程序、社交电商三大机遇</p>
				<p>与景运管家携手共享千亿风口</p>
			</div>
			<button class="ask">立即咨询</button>
		</div>
	</div>
</div>
<!--coopration-index end-->
<!--about-index-->
<div class="about-index">
	<div class="col-con">
		<div class="col-title">
			<img src="/static/home/images/system/index_title_04.png" class="index-title-image" />
		</div>
		<div class="w1200 case">
			<div class="about-index-con">
				<img src="/static/home/images/system/company.jpg"  class="about-index-company" />
				<div class="about-index-company-text">
					{:getArticle(27)['content']}
				</div>
			</div>
		</div>
	</div>
</div>
<!--about-index end-->
{/block}
{block name="js"}
<script type="text/javascript">
    $(document).ready(function() {
        $('#banner').flexslider({
            animation: "slides",
            direction:"horizontal",
            slideshowSpeed : 8000,
            start: function(){
                $('.section1 .flex-next').click();
                $('.section1 .flex-prev').click();
            },
        });
        //鼠标悬浮在导航上下拉
        $('.nav-li').hover(function(){
            var _this =$(this);
            if($(_this).hasClass('active')){
                return false;
            }else{
                $('.nav-li.active').removeClass('active');
                $(_this).addClass('active');
                $('.second-links').stop().slideUp();
                $(_this).find('.second-links').stop().slideDown();
            }

        });
        $('.second-links').hover(function(){

        },function(){
            $(this).stop().slideUp();
        });
        $('.nav-li').focus(function(){
            var _this =$(this);
            $('.second-links').slideDown();
            $(_this).find('.second-links').slideUp();
            return false;
        });
        //点击营销活动弹出对话框
        $('.solution-item').click(function(){
            var i = $(this).data('num');
            $('.solution-layer').show();
            $('#solution_dia_'+i).fadeIn();
        });
        $('.solution-dia-close').click(function(){
            $(this).parents('.solution-dia').fadeOut();
            $('.solution-layer').hide();
        });


        //立即咨询，弹出百度商桥留言板
        $(function () {
            $(".ask").click(function () {
                if ($('#nb_invite_ok').length > 0) {
                    $('#nb_invite_ok').click();
                }
            });
        });
    });
</script>
{/block}
