{extend name="layout"}

{block name="content"}
		<!--header-->
  	    <div class="header-zw"></div>
		<!--header end-->
		<!--sbanner-->
		<div class="sbanner">
			<img src="/static/home/images/system/sbanner_news.jpg" class="sbanner-image" />
			<div class="sbanner-con">
				<p class="sbanner-title">COMPANY NEWS</p>
				<a  href="javascript:;" class="sbanner-btn">新闻资讯</a>
			</div>
		</div>
		<!--sbanner end-->
		<div class="about-company">
			<div class="w1200">
				<div class="about-company-top">
					<h3 class="about-company-title">行业动态</h3>
					<p><span class="about-company-line"></span></p>
					<p class="about-company-en">NEWS</p>					
				</div>
				<div class="news-lists">
					{volist name="data" id="vo"}
					<div class="news-item fn-clear">
        				<div class="news-img">
        					<img src="{$vo['img']}" class="news-image">
        				</div>
        				<div class="news-con">
        					<h5 class="news-title"><a href="/news/{$vo['id']}.html">{$vo['title']}</a></h5>
        					<div class="news-des">
	        					<p>{$vo['description']}</p>
							</div>
							<div class="news-time">{:date('Y-m-d',$vo['created_at'])}

							</div>
        				</div>
        			</div>
					{/volist}
					{$data->render()}
				</div>
			</div>

		</div>
{/block}
{block name="js"}
	    <script type="text/javascript">
		$(document).ready(function() {
			//鼠标悬浮在导航上下拉
			$('.nav-li').hover(function(){
				var _this =$(this);
				if($(_this).hasClass('active')){
					return false;
				}else{
					$('.nav-li.active').removeClass('active');
					$(_this).addClass('active');
					$('.second-links').stop().slideUp();
					$(_this).find('.second-links').stop().slideDown();
				}
				
			});
			$('.second-links').hover(function(){
				
			},function(){
				$(this).stop().slideUp();
			});
			
		});
		</script>
{/block}