{extend name="layout"}
{block name="content"}
<div class="header-zw"></div>
<!--header end-->
<div class="single-banner">
	<img src="/static/home/images/system/single_banner02.jpg" class="single-banner-image" />
	<!--<div class="w1200">-->
	<img src="/static/home/images/system/single_banner_img2.png" class="single-banner-image3" />
	<img src="/static/home/images/system/single_banner_text2.png" class="single-banner-image4" />
	<!--</div>-->
</div>
<div class="w1200">
	<div class="product-program">
		<h3 class="product-pro-title"  id="title_01">专业的景区营销工具</h3>
		<div class="product-program-market fn-clear">
			<div class="product-program-market-item">
				<img src="/static/home/images/upload/tu_1.png" class="market-image" />
			</div>
			<div class="product-program-market-item">
				<img src="/static/home/images/upload/tu_2.png" class="market-image" />
			</div>
			<div class="product-program-market-item">
				<img src="/static/home/images/upload/tu_3.png" class="market-image" />
			</div>
			<div class="product-program-market-item">
				<img src="/static/home/images/upload/tu_4.png" class="market-image" />
			</div>
			<div class="product-program-market-item">
				<img src="/static/home/images/upload/tu_5.png" class="market-image" />
			</div>
			<div class="product-program-market-item">
				<img src="/static/home/images/upload/tu_6.png" class="market-image" />
			</div>
			<div class="product-program-market-item">
				<img src="/static/home/images/upload/tu_7.png" class="market-image" />
			</div><div class="product-program-market-item">
			<img src="/static/home/images/upload/tu_8.png" class="market-image" />
		</div>
			<div class="product-program-market-item">
				<img src="/static/home/images/upload/tu_9.png" class="market-image" />
			</div>
			<div class="product-program-market-item">
				<img src="/static/home/images/upload/tu_10.png" class="market-image" />
			</div>
			<div class="product-program-market-item">
				<img src="/static/home/images/upload/tu_11.png" class="market-image" />
			</div>
			<div class="product-program-market-item">
				<img src="/static/home/images/upload/tu_12.png" class="market-image" />
			</div>
			<div class="product-program-market-item">
				<img src="/static/home/images/upload/tu_13.png" class="market-image" />
			</div>
			<div class="product-program-market-item">
				<img src="/static/home/images/upload/tu_14.png" class="market-image" />
			</div>
			<div class="product-program-market-item">
				<img src="/static/home/images/upload/tu_15.png" class="market-image" />
			</div>
			<div class="product-program-market-item">
				<img src="/static/home/images/upload/tu_16.png" class="market-image" />
			</div>
			<div class="product-program-market-item">
				<img src="/static/home/images/upload/tu_17.png" class="market-image" />
			</div>
			<div class="product-program-market-item">
				<img src="/static/home/images/upload/tu_18.png" class="market-image" />
			</div>
			<div class="product-program-market-item">
				<img src="/static/home/images/upload/tu_19.png" class="market-image" />
			</div>
			<div class="product-program-market-item">
				<img src="/static/home/images/upload/tu_20.png" class="market-image" />
			</div>
			<div class="product-program-market-item">
				<img src="/static/home/images/upload/tu_21.png" class="market-image" />
			</div>
			<div class="product-program-market-item">
				<img src="/static/home/images/upload/tu_22.png" class="market-image" />
			</div>
			<div class="product-program-market-item">
				<img src="/static/home/images/upload/tu_23.png" class="market-image" />
			</div>
			<div class="product-program-market-item">
				<img src="/static/home/images/upload/tu_24.png" class="market-image" />
			</div>
		</div>
	</div>
</div>
<div class="product-program glay-bg">
	<div class="w1200">
		<div id="title_02">
			<h3 class="product-pro-title">完美的智能场景融合</h3>
			<p class="product-pro-des">打通“新零售”渠道 人人都是你的分销商</p>
		</div>
		<div class="program-img">
			<img src="/static/home/images/system/web_image5.jpg" class="program-image" />
		</div>
	</div>
</div>
<div class="product-program">
	<div class="w1200">
		<div id="title_03">
			<h3 class="product-pro-title" >全民分销</h3>
			<p class="product-pro-des">打通“新零售”渠道 人人都是你的分销商</p>
		</div>
		<div class="program-img">
			<img src="/static/home/images/system/web_image6.jpg" class="program-image" />
		</div>
	</div>
</div>
<div class="product-program glay-bg">
	<div class="w1200">
		<div  id="title_04">
			<h3 class="product-pro-title">零门槛核销</h3>
			<p class="product-pro-des">闸机、手持机、电脑、微信多平台核销门票</p>
		</div>
		<div class="write-offs fn-clear">
			<div class="write-off-item">
						<span class="write-off">
							<span class="write-off-icon"></span>
						</span>
				<p class="write-off-text">闸机验票</p>
			</div>
			<div class="write-off-item">
						<span class="write-off">
							<span class="write-off-icon write-off-icon-02"></span>
						</span>
				<p class="write-off-text">手持机验票</p>
			</div>
			<div class="write-off-item">
						<span class="write-off">
							<span class="write-off-icon write-off-icon-03"></span>
						</span>
				<p class="write-off-text">电脑核销门票</p>
			</div>
			<div class="write-off-item">
						<span class="write-off">
							<span class="write-off-icon write-off-icon-04"></span>
						</span>
				<p class="write-off-text">微信二维码核销</p>
			</div>
		</div>
	</div>
</div>
<div class="product-web-con product-web-con-right fn-clear">
	<div class="w1200">
		<div class="product-web-text" id="title_05">
			<h4 class="product-web-title">完备的客户关系管理</h4>
			<div class="product-web-text" >
				<p>丰富的数据维度</p><br />
				<p>详实的数据统计</p><br />
				<p>快捷的数据查询</p>
			</div>
		</div>
		<img src="/static/home/images/system/web_image7.jpg" class="product-web-image" />
	</div>
</div>
<div class="product-web-con glay-bg fn-clear">
	<div class="w1200">
		<div class="product-web-text" id="title_06">
			<h4 class="product-web-title">无限流量</h4>
			<div class="product-web-text">
				<p>微信9亿月活跃用户，支持附近小程序、微信搜索等</p>
				<p>功能，轻松获取流量，获取客户</p>
			</div>
		</div>
		<img src="/static/home/images/system/web_image8.jpg" class="product-web-image" />
	</div>
</div>
<div class="product-web-con product-web-con-right fn-clear">
	<div class="w1200">
		<div class="product-web-text" id="title_07">
			<h4 class="product-web-title">极速推广</h4>
			<div class="product-web-text">
				<p>原生APP般流畅体验，降低用户门槛的同时，方便用户在</p>
				<p>微信里快速传播，降低宣传成本</p>
			</div>
		</div>
		<img src="/static/home/images/system/web_image9.jpg" class="product-web-image" />
	</div>
</div>
<div class="product-web-con glay-bg fn-clear">
	<div class="w1200">
		<div class="product-web-text" id="title_08">
			<h4 class="product-web-title">数据同步</h4>
			<div class="product-web-text">
				<p>小程序、公众号多端数据统一，告别多后台</p>
				<p>复杂数据维护</p>
			</div>
		</div>
		<img src="/static/home/images/system/web_image10.jpg" class="product-web-image" />
	</div>
</div>
{/block}
{block name="js"}
<script type="text/javascript">
    $(document).ready(function() {
        //鼠标悬浮在导航上下拉
        $('.nav-li').hover(function(){
            var _this =$(this);
            if($(_this).hasClass('active')){
                return false;
            }else{
                $('.nav-li.active').removeClass('active');
                $(_this).addClass('active');
                $('.second-links').stop().slideUp();
                $(_this).find('.second-links').stop().slideDown();
            }

        });
        $('.second-links').hover(function(){

        },function(){
            $(this).stop().slideUp();
        });
        //公用结束
        //单页模板标题动画
        function ani(){
            var title1 = $('#title_01').offset().top;
            var title2 = $('#title_02').offset().top;
            var title3 = $('#title_03').offset().top;
            var title4 = $('#title_04').offset().top;
            var title5 = $('#title_05').offset().top;
            var title6 = $('#title_06').offset().top;
            var title7 = $('#title_07').offset().top;
            var title8 = $('#title_08').offset().top;
            var $scrollTop = 0;
            //页面滑动时
            $(window).scroll(function(event){
                $scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
                if($scrollTop<=title1 ){
                    $('#title_01').addClass('to-bottom');
                }else if($scrollTop>=title1 & $scrollTop<=title2 ){
                    $('#title_02').addClass('to-bottom');
                }else if($scrollTop>=title2 & $scrollTop<=title3 ){
                    $('#title_03').addClass('to-bottom');
                }else if($scrollTop>=title3 & $scrollTop<=title4 ){
                    $('#title_04').addClass('to-bottom');
                }else if($scrollTop>=title4 & $scrollTop<=title5 ){
                    $('#title_05').addClass('to-bottom');
                }else if($scrollTop>=title5 & $scrollTop<=title6 ){
                    $('#title_06').addClass('to-bottom');
                }else if($scrollTop>=title6 & $scrollTop<=title7 ){
                    $('#title_07').addClass('to-bottom');
                }else if($scrollTop>=title7 & $scrollTop<=title8 ){
                    $('#title_08').addClass('to-bottom');
                }
            });
        }
        ani();
    });
</script>
{/block}

