{extend name="layout"}
{block name="content"}
		<!--header-->
  	    <div class="header-zw"></div>
		<!--header end-->
		<div class="single-banner">
			<img src="/static/home/images/system/single_banner01.jpg" class="single-banner-image" />
			<div class="w1200">
				<img src="/static/home/images/system/single_banner_img1.png" class="single-banner-image1" />
				<img src="/static/home/images/system/single_banner_text1.png" class="single-banner-image2" />
			</div>
		</div>
		<div class="w1200">
			<div class="product-web-con fn-clear">
				<div class="product-web-text" id="title_01">
					<h4 class="product-web-title">景区全网营销</h4>
					<p class="product-web-text">PC+微信+H5一个后台统一管理</p>
				</div>
				<img src="/static/home/images/system/web_image1.jpg" class="product-web-image" />
			</div>
			<div class="product-web-con product-web-con-right fn-clear">
				<div class="product-web-text"  id="title_02">
					<h4 class="product-web-title">开启搜索引擎流量狂潮</h4>
					<p class="product-web-text">SEO深度优化，提示搜索引擎排名，让客户主动来找您</p>
				</div>
				<img src="/static/home/images/system/web_image2.jpg" class="product-web-image" />
			</div>
			<div class="product-web-con fn-clear">
				<div class="product-web-text"  id="title_03">
					<h4 class="product-web-title">量身定制的网站策划</h4>
					<p class="product-web-text">以创新、专业、执着的服务理念，给您一个
满意的品牌网站</p>
				</div>
				<img src="/static/home/images/system/web_image3.jpg" class="product-web-image" />
			</div>
			<div class="product-web-con product-web-con-right fn-clear">
				<div class="product-web-text"  id="title_04">
					<h4 class="product-web-title">塑造景区品牌形象</h4>
					<p class="product-web-text">通过网站建立与客户沟通最便捷的渠道</p>
				</div>
				<img src="/static/home/images/system/web_image4.jpg" class="product-web-image" />
			</div>
		</div>
{/block}
{block name="js"}
	    <script type="text/javascript">
		</script>
{/block}