<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<title>景运管家-详情</title>
		<link rel="stylesheet" href="css/base.css"  />
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/single.css" />
	</head>
	<body>
		<!--header-->
		<div class="header">
			<div class="logo-div">
				<img src="images/system/logo.png" class="head-logo-img">
			</div>
	  	   	<ul class="main-nav">
			    <li class="nav-li" >
			    	<a class="nav-link nav-link-active" href="#page1">首页</a>
			    </li>
			    <li class="nav-li" >
			    	<a class="nav-link" href="#page2">产品与服务</a>
			    	<div class="second-links">
			    		<a href="javascript:;" class="second-link">公众号</a>
			    		<a href="javascript:;" class="second-link">小程序</a>
			    	</div>
			    </li>
			    <li class="nav-li" >
			    	<a class="nav-link" href="#page4">公司简介</a>
			    	<div class="second-links">
			    		<a href="javascript:;" class="second-link">公众号</a>
			    		<a href="javascript:;" class="second-link">小程序</a>
			    	</div>
			    </li>
			    <li class="nav-li" >
			    	<a class="nav-link" href="#page5">公司动态</a>
			    	<div class="second-links">
			    		<a href="javascript:;" class="second-link">公众号</a>
			    		<a href="javascript:;" class="second-link">小程序</a>
			    	</div>
			    </li>
			    <li class="nav-li" >
			    	<a class="nav-link" href="#page6">联系我们</a>
			    </li>
		   </ul>
		   <div class="header-login">
		   		<a href="javascript:;" class="header-login-link">登录</a>
		   		<a href="javascript:;" class="header-login-link header-login-link-reg">注册</a>
		   </div>
  	    </div>
  	    <div class="header-zw"></div>
		<!--header end-->
		<div class="single-banner">
			<img src="images/system/single_banner01.jpg" class="single-banner-image" />
			<div class="w1200">
				<img src="images/system/single_banner_img1.png" class="single-banner-image1" />
				<img src="images/system/single_banner_text1.png" class="single-banner-image2" />
			</div>
		</div>
		<div class="w1200">
			<div class="product-web-con fn-clear">
				<div class="product-web-text" id="title_01">
					<h4 class="product-web-title">景区全网营销</h4>
					<p class="product-web-text">PC+微信+H5一个后台统一管理</p>
				</div>
				<img src="images/system/web_image1.jpg" class="product-web-image" />
			</div>
			<div class="product-web-con product-web-con-right fn-clear">
				<div class="product-web-text"  id="title_02">
					<h4 class="product-web-title">开启搜索引擎流量狂潮</h4>
					<p class="product-web-text">SEO深度优化，提示搜索引擎排名，让客户主动来找您</p>
				</div>
				<img src="images/system/web_image2.jpg" class="product-web-image" />
			</div>
			<div class="product-web-con fn-clear">
				<div class="product-web-text"  id="title_03">
					<h4 class="product-web-title">量身定制的网站策划</h4>
					<p class="product-web-text">以创新、专业、执着的服务理念，给您一个
满意的品牌网站</p>
				</div>
				<img src="images/system/web_image3.jpg" class="product-web-image" />
			</div>
			<div class="product-web-con product-web-con-right fn-clear">
				<div class="product-web-text"  id="title_04">
					<h4 class="product-web-title">塑造景区品牌形象</h4>
					<p class="product-web-text">通过网站建立与客户沟通最便捷的渠道</p>
				</div>
				<img src="images/system/web_image4.jpg" class="product-web-image" />
			</div>
		</div>
		<div class="web-bottom">
			<img src="images/system/web_bottom.jpg" class="web-bottom-image" />
			<div class="web-bottom-con">
				<p class="web-bottom-text"><span class="web-bottom-big">1000+</span>景区的共同选择</p>
				<a href="javascript:;" class="web-bottom-btn">马上试用</a>
				<span class="handle-icon"></span>
			</div>
		</div>
		<!--footer-->
		<div class="footer">
			<div class="w1200 fn-clear">
				<div class="footer-con">
					<div class="footer-title">
						公司新闻
						<a href="javascript:;" class="footer-title-more">更多 ></a>
					</div>
					<div class="footer-news">
						<a href="javascript:;" class="footer-new">08/16 恭喜景运管家获得数千万融资</a>
						<a href="javascript:;" class="footer-new">08/16 恭喜景运管家获得数千万融资</a>
						<a href="javascript:;" class="footer-new">08/16 恭喜景运管家获得数千万融资</a>
						<a href="javascript:;" class="footer-new">08/16 恭喜景运管家获得数千万融资</a>
					</div>
					<span class="footer-line"></span>
				</div>
				<div class="footer-con footer-con-02">
					<div class="footer-title">
						解决方案
					</div>
					<div class="footer-news">
						<a href="javascript:;" class="footer-link">智慧景区</a>
						<a href="javascript:;" class="footer-link">主题公园</a>
						<a href="javascript:;" class="footer-link">展览展会</a>
						<a href="javascript:;" class="footer-link">全域旅游</a>
					</div>
					<span class="footer-line"></span>
				</div>
				<div class="footer-con footer-con-03">
					<div class="footer-title">
						友情链接
					</div>
					<div class="footer-news">
						<a href="javascript:;" class="footer-link">国家文化旅游部</a>
						<a href="javascript:;" class="footer-link">重庆市文化旅游局</a>
					</div>
					<span class="footer-line"></span>
				</div>
				<div class="footer-con footer-con-04">
					<div class="footer-title">
						联系我们
					</div>
					<div class="footer-news">
						<p class="footer-new">客服专线：400-1234-567</p>
						<p class="footer-new">客服邮箱：123456@jygj.com</p>
						<p class="footer-addr">地址：上海市金山区廊下镇景乐路228
      						<p>　　　号7幢N299室</p>
						</p>
					</div>
				</div>
				<div class="footer-ewm">
					<img src="images/system/ewm.jpg" class="footer-ewm-image" />
					<p>扫码关注微信公众号</p>
				</div>
			</div>
			<div class="footer-copy">Copyright ©2013-2018 上海微奥信息科技有限公司 版权所有 沪ICP备15054606号-3</div>
		</div>
		<!--footer end-->
		<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
		<script type="text/javascript" src="js/slider.js"></script>
	    <script type="text/javascript">
		$(document).ready(function() {
			//鼠标悬浮在导航上下拉
			$('.nav-li').hover(function(){
				var _this =$(this);
				if($(_this).hasClass('active')){
					return false;
				}else{
					$('.nav-li.active').removeClass('active');
					$(_this).addClass('active');
					$('.second-links').stop().slideUp();
					$(_this).find('.second-links').stop().slideDown();
				}
				
			});
			$('.second-links').hover(function(){
				
			},function(){
				$(this).stop().slideUp();
			});
			//公用结束
			//单页模板标题动画 
			function ani(){
				var title1 = $('#title_01').offset().top+40;
				var title2 = $('#title_02').offset().top+40;
				var title3 = $('#title_03').offset().top+40; 
				var title4 = $('#title_04').offset().top+40; 
		 		var $scrollTop = 0;
		 		//页面滑动时
		 		$(window).scroll(function(event){
					$scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
					if($scrollTop<=title1 ){
						$('#title_01').addClass('to-bottom');
					}else if($scrollTop>=title1 & $scrollTop<=title2 ){
						$('#title_02').addClass('to-bottom');
					}else if($scrollTop>=title2 & $scrollTop<=title3 ){
						$('#title_03').addClass('to-bottom');
					}else if($scrollTop>=title3 & $scrollTop<=title4 ){
						$('#title_04').addClass('to-bottom');
					}
				});
			}
			ani();
		});
		</script>
	</body>
</html>
