<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<title>景运管家-人才招聘</title>
		<link rel="stylesheet" href="css/base.css"  />
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/other.css" />
	</head>
	<body>
		<!--header-->
		<div class="header">
			<div class="logo-div">
				<img src="images/system/logo.png" class="head-logo-img">
			</div>
	  	   	<ul class="main-nav">
			    <li class="nav-li" >
			    	<a class="nav-link nav-link-active" href="#page1">首页</a>
			    </li>
			    <li class="nav-li" >
			    	<a class="nav-link" href="#page2">产品与服务</a>
			    	<div class="second-links">
			    		<a href="javascript:;" class="second-link">公众号</a>
			    		<a href="javascript:;" class="second-link">小程序</a>
			    	</div>
			    </li>
			    <li class="nav-li" >
			    	<a class="nav-link" href="#page4">公司简介</a>
			    	<div class="second-links">
			    		<a href="javascript:;" class="second-link">公众号</a>
			    		<a href="javascript:;" class="second-link">小程序</a>
			    	</div>
			    </li>
			    <li class="nav-li" >
			    	<a class="nav-link" href="#page5">公司动态</a>
			    	<div class="second-links">
			    		<a href="javascript:;" class="second-link">公众号</a>
			    		<a href="javascript:;" class="second-link">小程序</a>
			    	</div>
			    </li>
			    <li class="nav-li" >
			    	<a class="nav-link" href="#page6">联系我们</a>
			    </li>
		   </ul>
		   <div class="header-login">
		   		<a href="javascript:;" class="header-login-link">登录</a>
		   		<a href="javascript:;" class="header-login-link header-login-link-reg">注册</a>
		   </div>
  	    </div>
  	    <div class="header-zw"></div>
		<!--header end-->
		<!--sbanner-->
		<div class="sbanner">
			<img src="images/system/sbanner_recruit.jpg" class="sbanner-image" />
			<div class="sbanner-con">
				<p class="sbanner-title">TALENT RECRUITMENT</p>
				<a  href="javascript:;" class="sbanner-btn">招贤纳士</a>
			</div>
		</div>
		<!--sbanner end-->
		<div class="about-company">
			<div class="w1200">
				<div class="about-company-top">
					<h3 class="about-company-title">人才招聘</h3>
					<p><span class="about-company-line"></span></p>
					<p class="about-company-en">TALENT RECRUITMENT</p>					
				</div>
				<div class="about-recruit">
					<div class="recruit-item fn-clear">
						<div class="recruit-bg"></div>
						<div class="recruit-left">
							<h5 class="recruit-name">JAVA开发工程师</h5>
							<p>阿里系背景、大部分双休</p>
							<p>行业独角兽、D轮融资</p>
						</div>
						<div class="recruit-right">
							<h6 class="recruit-right-title">岗位职责:</h6>
							<div class="recruit-right-text">
								<p>1、主要负责公司平台服务端的开发，参与业务需求讨论，负责业务需求到技术实现的方案落地与实施；</p>
								<p>2、根据业务需求制定技术接口规范并与前端开发人员配合实现相关业务流程；</p>
								<p>3、负责现有有业务系统的维护及需求变更，参与新需求开发及缺陷修复工作。</p>
							</div>
						</div>
					</div>
					<div class="recruit-item fn-clear">
						<div class="recruit-bg"></div>
						<div class="recruit-left">
							<h5 class="recruit-name">JAVA开发工程师</h5>
							<p>阿里系背景、大部分双休</p>
							<p>行业独角兽、D轮融资</p>
						</div>
						<div class="recruit-right">
							<h6 class="recruit-right-title">岗位职责:</h6>
							<div class="recruit-right-text">
								<p>1、主要负责公司平台服务端的开发，参与业务需求讨论，负责业务需求到技术实现的方案落地与实施；</p>
								<p>2、根据业务需求制定技术接口规范并与前端开发人员配合实现相关业务流程；</p>
								<p>3、负责现有有业务系统的维护及需求变更，参与新需求开发及缺陷修复工作。</p>
								<p>1、主要负责公司平台服务端的开发，参与业务需求讨论，负责业务需求到技术实现的方案落地与实施；</p>
								<p>2、根据业务需求制定技术接口规范并与前端开发人员配合实现相关业务流程；</p>
								<p>3、负责现有有业务系统的维护及需求变更，参与新需求开发及缺陷修复工作。</p>
								<p>1、主要负责公司平台服务端的开发，参与业务需求讨论，负责业务需求到技术实现的方案落地与实施；</p>
								<p>2、根据业务需求制定技术接口规范并与前端开发人员配合实现相关业务流程；</p>
								<p>3、负责现有有业务系统的维护及需求变更，参与新需求开发及缺陷修复工作。</p>
								<p>1、主要负责公司平台服务端的开发，参与业务需求讨论，负责业务需求到技术实现的方案落地与实施；</p>
								<p>2、根据业务需求制定技术接口规范并与前端开发人员配合实现相关业务流程；</p>
								<p>3、负责现有有业务系统的维护及需求变更，参与新需求开发及缺陷修复工作。</p>
								
							</div>
						</div>
					</div>
				</div>
			</div>			
		</div>
		<!--footer-->
		<div class="footer">
			<div class="w1200 fn-clear">
				<div class="footer-con">
					<div class="footer-title">
						公司新闻
						<a href="javascript:;" class="footer-title-more">更多 ></a>
					</div>
					<div class="footer-news">
						<a href="javascript:;" class="footer-new">08/16 恭喜景运管家获得数千万融资</a>
						<a href="javascript:;" class="footer-new">08/16 恭喜景运管家获得数千万融资</a>
						<a href="javascript:;" class="footer-new">08/16 恭喜景运管家获得数千万融资</a>
						<a href="javascript:;" class="footer-new">08/16 恭喜景运管家获得数千万融资</a>
					</div>
					<span class="footer-line"></span>
				</div>
				<div class="footer-con footer-con-02">
					<div class="footer-title">
						解决方案
					</div>
					<div class="footer-news">
						<a href="javascript:;" class="footer-link">智慧景区</a>
						<a href="javascript:;" class="footer-link">主题公园</a>
						<a href="javascript:;" class="footer-link">展览展会</a>
						<a href="javascript:;" class="footer-link">全域旅游</a>
					</div>
					<span class="footer-line"></span>
				</div>
				<div class="footer-con footer-con-03">
					<div class="footer-title">
						友情链接
					</div>
					<div class="footer-news">
						<a href="javascript:;" class="footer-link">国家文化旅游部</a>
						<a href="javascript:;" class="footer-link">重庆市文化旅游局</a>
					</div>
					<span class="footer-line"></span>
				</div>
				<div class="footer-con footer-con-04">
					<div class="footer-title">
						联系我们
					</div>
					<div class="footer-news">
						<p class="footer-new">客服专线：400-1234-567</p>
						<p class="footer-new">客服邮箱：123456@jygj.com</p>
						<p class="footer-addr">地址：上海市金山区廊下镇景乐路228
      						<p>　　　号7幢N299室</p>
						</p>
					</div>
				</div>
				<div class="footer-ewm">
					<img src="images/system/ewm.jpg" class="footer-ewm-image" />
					<p>扫码关注微信公众号</p>
				</div>
			</div>
			<div class="footer-copy">Copyright ©2013-2018 上海微奥信息科技有限公司 版权所有 沪ICP备15054606号-3</div>
		</div>
		<!--footer end-->
		<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
		<script type="text/javascript" src="js/slider.js"></script>
	    <script type="text/javascript">
		$(document).ready(function() {
			//鼠标悬浮在导航上下拉
			$('.nav-li').hover(function(){
				var _this =$(this);
				if($(_this).hasClass('active')){
					return false;
				}else{
					$('.nav-li.active').removeClass('active');
					$(_this).addClass('active');
					$('.second-links').stop().slideUp();
					$(_this).find('.second-links').stop().slideDown();
				}
				
			});
			$('.second-links').hover(function(){
				
			},function(){
				$(this).stop().slideUp();
			});
			
		});
		</script>
	</body>
</html>