{extend name="layout"}
{block name="content"}
		<!--header-->
  	    <div class="header-zw"></div>
		<!--header end-->
		<!--sbanner-->
		<div class="sbanner">
			<img src="/static/home/images/system/sbanner_recruit.jpg" class="sbanner-image" />
			<div class="sbanner-con">
				<p class="sbanner-title">TALENT RECRUITMENT</p>
				<a  href="javascript:;" class="sbanner-btn">招贤纳士</a>
			</div>
		</div>
		<!--sbanner end-->
		<div class="about-company">
			<div class="w1200">
				<div class="about-company-top">
					<h3 class="about-company-title">人才招聘</h3>
					<p><span class="about-company-line"></span></p>
					<p class="about-company-en">TALENT RECRUITMENT</p>					
				</div>
				<div class="about-recruit">
					{volist name="data" id="vo"}
					<div class="recruit-item fn-clear">
						<div class="recruit-bg"></div>
						<div class="recruit-left">
							<h5 class="recruit-name">{$vo.title}</h5>
							<div>
								{$vo.description}
							</div>
						</div>
						<div class="recruit-right">
							<h6 class="recruit-right-title">岗位职责:</h6>
							{$vo.content}
						</div>
					</div>
					{/volist}
				</div>
			</div>			
		</div>
{/block}
{block name="js"}
	    <script type="text/javascript">
		$(document).ready(function() {
			//鼠标悬浮在导航上下拉
			$('.nav-li').hover(function(){
				var _this =$(this);
				if($(_this).hasClass('active')){
					return false;
				}else{
					$('.nav-li.active').removeClass('active');
					$(_this).addClass('active');
					$('.second-links').stop().slideUp();
					$(_this).find('.second-links').stop().slideDown();
				}
				
			});
			$('.second-links').hover(function(){
			},function(){
				$(this).stop().slideUp();
			});
			
		});
		</script>
{/block}
