@charset "utf-8";
/*
 * author pulu
 * time 2018-05-22
 */
body{
	font-family: "微软雅黑";
	width: 100%;
	overflow-x: hidden;
	min-width: 1200px;
}
.header{
	position: fixed;
	width: 100%;
	height: 80px;
	line-height: 80px;
	left: 0;
	top: 0;
	z-index: 9;
	background: #fff;
	border-bottom: 1px solid #c7c7c7\9;
	box-shadow: 0 2px 5px rgba(44,44,44,0.3);
	font-size: 16px;
}
.header-zw{
	height: 80px;
}
.logo-div{
	padding-left: 5%;
	display: inline-block;
}
.logo-div .head-logo-img{
	margin-right: 10px;
}
.header .main-nav{
	position: absolute;
	height: 80px;
	line-height: 80px;
	display: inline-block;
	top: 0;
	right: 5%;
}

.nav-li{
	display: inline-block;
	width: 120px;
	text-align: center;
	float: left;
	position: relative;
	height: 80px;
	line-height: 80px;
}
.second-links{
	position: absolute;
	width: 100%;
	background: #fff;
	top: 79px;
	border: 1px solid #e6e6e6\9;
	box-shadow: 0 3px 3px rgba(44,44,44,0.3);
	border-top: 0;
	left: 0;
	display: none;
}
.second-link{
	display: block;
	height: 60px;
	line-height: 60px;
	margin: 0 5px;
	text-align: center;
	border-bottom: 1px solid #e6e6e6;
}
.second-link:hover{
	color: #ff3939;
}
.second-links .second-link:last-of-type{
	border-bottom: none;
}
.nav-link{
	position: relative;
	height: 35px;
	line-height: 35px;
	margin-top: 22px;
}
.nav-link-active{
	color: #ff3939!important;
	border-bottom: 4px solid #ff3939;
}
.nav-link,.nav-link:hover{
	color: #000;
}
.nav-link.active{
	color: #15be78;
}
.header-login{
	display: inline-block;
	position: absolute;
	top: 0;
	right: 60px;
}
.header-login-link{
	display: inline-block;
	width: 80px;
	height: 44px;
	line-height: 44px;
	border: 1px solid #ff3939;
	color: #ff3939;
	text-align: center;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	margin-left: 20px;
}
.header-login-link-reg{
	color: #000;
	border-color: #000;
}

/*footer*/
.footer{
	background: #4a4a4a;
	padding-top: 45px;
	color: #f0f0f0;
}
.footer-con{
	width: 240px;
	padding-right: 90px;
	position: relative;
	float: left;
}
.footer-title{
	font-size: 16px;
	color: #fff;
	margin-bottom: 5px;
}
.footer-title-more{
	float: right;
	color: #F0F0F0;
	font-size: 14px;
}
.footer-new{
	display: inline-block;
	width: 240px;
	margin-top: 25px;
	line-height: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #F0F0F0;
}
.footer-line{
	display: inline-block;
	width: 1px;
	height: 200px;
	background: url(../images/system/icon.png) no-repeat;
	background-position: -50px -20px;
	position: absolute;
	right: 0;
	top: 10px;
}
.footer-con-02{
	width: 165px;
	padding: 0;
	text-align: center;
	padding-left:50px;
	padding-right: 50px;
}
.footer-link{
	display: block;
	margin-top: 27px;
	line-height: 20px;
	text-align: center;
	color: #F0F0F0;
}
.footer-con-03{
	width: 210px;
	padding: 0;
	text-align: center;
}
.footer-con-04{
	padding-left: 90px;
	text-align: left;
}
.footer-addr{
	margin-top: 15px;
	line-height: 25px;
}
.footer-ewm{
	text-align: center;
	width: 160px;
	float: left;
}
.footer-ewm .footer-ewm-image{
	width: 160px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
	margin-bottom: 10px;
}

.footer-copy{
	text-align: center;
	padding: 30px 0 15px;
}
.friend{
	width: 1200px;
	margin: 0 auto;
	margin-top: 50px;
}
.friend span{
	font-size: 16px;
}
.friend a{
	color: #fff;
	font-size: 14px;
	padding-right: 15px;
}

.web-bottom{
	height: 212px;
	position: relative;
}
.web-bottom-image{
	position: absolute;
	left: 50%;
	margin-left: -960px;
	width:100%;
}
.web-bottom-con{
	position: relative;
	z-index: 2;
	text-align: center;
}
.web-bottom-text{
	font-size: 36px;
	color: #454545;
	padding: 35px 0 20px;
}
.web-bottom-text .web-bottom-big{
	font-size: 44px;
	font-weight: bold;
}
.web-bottom-btn{
	display: inline-block;
	width: 262px;
	height: 62px;
	line-height: 62px;
	color: #fff;
	background: #ff3939;
	text-align: center;
	border-radius: 5px;
	font-size: 24px;
}


/*---------------------------------code-content----------------------------------*/
.code-content {
	width: 82px;
	height: auto;
	position: fixed;
	right: 0px;
	bottom: 0px;
	z-index: 2;
}
.code-content a {
	display: block;
	width: 82px;
	height: 82px;
	position: relative;
}

.code-content a span {
	display: block;
	width: 82px;
	height: 82px;
}
.code-content a.back-top {
	background: #aaa;
}
.code-content a.back-top:hover{
	background: #797979;
}
.code-content a.back-top span {
	background: url(../images/system/back_top.png) center center no-repeat;
}
.code-content a.qq {
	background: #6db0d8;
}
.code-content a.qq span {
	background: url(../images/system/qq_icon.png) center center no-repeat;
}
.code-content a.qq:hover {
	background: #4d99cb;
}
.code-content a.weixin {
	background: #9ed03e;
}
.code-content a.weixin:hover {
	background: #84c121;
}

.code-content a i {
	display: none;
	border: #84c121 7px solid;
	width: 150px;
	height: 150px;
	position: absolute;
	right: 82px;
	bottom: 0;
	background: url(../images/system/two_code.jpg) center center no-repeat;
	-webkit-animation: 1s ease;
	-moz-animation: 1s ease;
	-ms-animation: 1s ease;
	-o-animation: 1s ease;
	animation: 1s ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.code-content a.weixin:hover i {
	display: block;
	-webkit-animation-name: bounceInDown;
	-moz-animation-name: bounceInDown;
	-ms-animation-name: bounceInDown;
	-o-animation-name: bounceInDown;
	animation-name: bounceInDown;
}
.code-content a.tell {
	background: #6a7484;
}
.code-content a.tell span {
	background: url(../images/system/tell_icon.png) center center no-repeat;
}
.code-content a.tell:hover {
	background: #626a77;
}
.code-content a.tell:hover i {
	position: absolute;
	display: block;
	background: #626a77;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	border: none;
	width: 164px;
	height: 82px;
	font-style: normal;
	text-align: center;
	line-height: 82px;
	-webkit-animation-name: bounceInleft;
	-moz-animation-name: bounceInleft;
	-ms-animation-name: bounceInleft;
	-o-animation-name: bounceInleft;
	animation-name: bounceInleft;
}
@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
	}
	80% {
		-webkit-transform: translateY(-10px);
	}
	100% {
		-webkit-transform: translateY(0);
	}
}
@-moz-keyframes bounceInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-2000px);
	}
	60% {
		opacity: 1;
		-moz-transform: translateY(30px);
	}
	80% {
		-moz-transform: translateY(-10px);
	}
	100% {
		-moz-transform: translateY(0);
	}
}
@-ms-keyframes bounceInDown {
	0% {
		opacity: 0;
		-ms-transform: translateY(-2000px);
	}
	60% {
		opacity: 1;
		-ms-transform: translateY(30px);
	}
	80% {
		-ms-transform: translateY(-10px);
	}
	100% {
		-ms-transform: translateY(0);
	}
}
@-o-keyframes bounceInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-2000px);
	}
	60% {
		opacity: 1;
		-o-transform: translateY(30px);
	}
	80% {
		-o-transform: translateY(-10px);
	}
	100% {
		-o-transform: translateY(0);
	}
}
@keyframes bounceInDown {
	0% {
		opacity: 0;
		transform: translateY(-2000px);
	}
	60% {
		opacity: 1;
		transform: translateY(30px);
	}
	80% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}
/*
 *tell
 * */

@-webkit-keyframes bounceInleft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-500px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(30px);
	}
	80% {
		-webkit-transform: translateX(-10px);
	}
	100% {
		-webkit-transform: translateX(0);
	}
}
@-moz-keyframes bounceInleft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-500px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(30px);
	}
	80% {
		-webkit-transform: translateX(-10px);
	}
	100% {
		-webkit-transform: translateX(0);
	}
}
@-ms-keyframes bounceInleft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-500px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(30px);
	}
	80% {
		-webkit-transform: translateX(-10px);
	}
	100% {
		-webkit-transform: translateX(0);
	}
}
@-o-keyframes bounceInleft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-500px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(30px);
	}
	80% {
		-webkit-transform: translateX(-10px);
	}
	100% {
		-webkit-transform: translateX(0);
	}
}
@keyframes bounceInleft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-500px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(30px);
	}
	80% {
		-webkit-transform: translateX(-10px);
	}
	100% {
		-webkit-transform: translateX(0);
	}
}