@charset "utf-8";
/*
 * author pulu
 * time 2018-05-22
 */
.banner{
	position: relative;
}
.banner-image{
	width: 100%;
	height: 600px;
}
.banner .flex-direction-nav{
	display: block;
}
.banner .flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: 33px;
	height: 12px;
	text-align: center;
}
.banner .flex-control-nav li{
	display: inline-block;
}
.banner .flex-control-nav a{
	display: inline-block;
	margin: 0 8px;
	width: 10px;
	height: 10px;
	border: 2px solid #fff;
	border-radius: 50%;
	text-indent: -9999px;
}
.banner .flex-control-nav .flex-active{
	background: #fff;
	border: 2px solid #fff;
}
.banner .slide{
	position: relative;
	overflow: hidden;
}
.banner-con{
	display: block;
	width: 100%;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	text-align: center;
	font-family:"黑体";
}
.flex-active-slide .banner-01-img{
	width: 100%;
	position: absolute;
	left: 0;
	-webkit-animation:fadeInRight 1s .5s ease both;
	-moz-animation:fadeInRight 1s .5s ease both;
	animation: fadeInRight 1s .5s ease both;
}
@-webkit-keyframes fadeInRight {

	0% {

		opacity: 0;
		-webkit-transform: translateX(20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}

}
@-webkit-keyframes flipInY {
	0% {opacity:0;-webkit-transform:perspective(400px) rotateY(90deg);}
	40% {-webkit-transform:perspective(400px) rotateY(-10deg);}
	70% {-webkit-transform:perspective(400px) rotateY(10deg);}
	100% {opacity:1;-webkit-transform:perspective(400px) rotateY(0deg);}
}
@-moz-keyframes flipInY {
	0% {opacity:0;-moz-transform:perspective(400px) rotateY(90deg);}
	40% {-moz-transform:perspective(400px) rotateY(-10deg);}
	70% {-moz-transform:perspective(400px) rotateY(10deg);}
	100% {opacity:1;-moz-transform:perspective(400px) rotateY(0deg);}
}
@-o-keyframes flipInY {
	0% {opacity:0;-o-transform:perspective(400px) rotateY(90deg);}
	40% {-o-transform:perspective(400px) rotateY(-10deg);}
	70% {-o-transform:perspective(400px) rotateY(10deg);}
	100% {opacity:1;-o-transform:perspective(400px) rotateY(0deg);}
}
@keyframes flipInY {
	0% {opacity:0;transform:perspective(400px) rotateY(90deg);}
	40% {transform:perspective(400px) rotateY(-10deg);}
	70% {transform:perspective(400px) rotateY(10deg);}
	100% {opacity:1;transform:perspective(400px) rotateY(0deg);}
}
.flex-active-slide .banner1-title{
	color: #fff;
	font-size: 55px;
	margin-top: 6%;
	font-family:"黑体";
	font-weight: bold;
	letter-spacing: 5px;
	-webkit-animation:flipInY 1s 2s ease both;
	-moz-animation:flipInY 1s 2s ease both;
	animation:flipInY 1s 2s ease both;
	opacity: 1;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}

@-webkit-keyframes anner-btn-01-ani {
	0% {-webkit-transform: translate(-500px,0);opacity: 0;}
	40% {-webkit-transform: translate(40px,0);opacity: 1;}
	70% {-webkit-transform: translate(-10px,0);}
	100% {-webkit-transform: translate(0,0);opacity: 1;}
}
@-moz-keyframes anner-btn-01-ani {
	0% {-moz-transform: translate(-500px,0);opacity: 0;}
	40% {-moz-transform: translate(40px,0);opacity: 1;}
	70% {-moz-transform: translate(-10px,0);}
	100% {-moz-transform: translate(0,0);opacity: 1;}
}
@-o-keyframes anner-btn-01-ani {
	0% {-o-transform: translate(-500px,0);opacity: 0;}
	40% {-o-transform: translate(40px,0);opacity: 1;}
	70% {-o-transform: translate(-10px,0);}
	100% {-o-transform: translate(0,0);opacity: 1;}
}
@keyframes anner-btn-01-ani {
	0% {transform: translate(-500px,0);opacity: 0; }
	40% {transform: translate(40px,0);opacity: 1;}
	70% {transform: translate(-10px,0);}
	100% {transform: translate(0,0);opacity: 1;}
}

.banner-red-text{
	font-size: 58px;
	color: #ff3939;

}
.flex-active-slide .banner1-des{
	font-size: 28px;
	margin-top: 40px;
	-webkit-animation:anner-btn-01-ani 1s 2s ease both;
	-moz-animation:anner-btn-01-ani 1s 2s ease both;
	animation: anner-btn-01-ani 1s 2s ease both;
	opacity: 1;
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}
.banner1-link{
	display: inline-block;
	width: 180px;
	height: 40px;
	line-height: 44px;
	font-size: 18px;
	margin: 40px auto;
	border: 1px solid #fff;
	color: #fff;
	position: relative;
	z-index: 10000;
	-webkit-transform: translate(-500px,0);
	animation: anner-btn-01-ani 1s 2.8s ease both;
	-webkit-animation: anner-btn-01-ani 1s 2.8s ease both;
	-moz-animation: anner-btn-01-ani 1s 2.8 ease both;
	animation: anner-btn-01-ani 1s 2.8s ease both;
}
.flex-active-slide .banner2-title{
	color: #fff;
	font-size: 55px;
	margin-top: 7.5%;
	font-weight: bold;
	letter-spacing: 5px;
	line-height: 55px;
	-webkit-animation:zoomInDown 1.5s 0s ease both ;
	-moz-animation:zoomInDown 1.5s 0s ease both ;
	-o-animation:zoomInDown 1.5s 0s ease both ;
	animation:zoomInDown 1.5s 0s ease both ;
	opacity: 1;
}
.flex-active-slide .banner2-des{
	font-size: 18px;
	letter-spacing: 3px;
	-webkit-animation:zoomInDown 1.5s 0.5s ease both ;
	-moz-animation:zoomInDown 1.5s 0.5s ease both ;
	-o-animation:zoomInDown 1.5s 0.5s ease both ;
	animation:zoomInDown 1.5s 0.5s ease both ;
	opacity: 1;
}

@-webkit-keyframes zoomInDown {
	0% {opacity:0;-webkit-transform:scale3d(.1, .1, .1) translate3d(0, -1000px, 0);transform:scale3d(.1, .1, .1) translate3d(0, -1000px, 0);-webkit-animation-timing-function:cubic-bezier(.550, .055, .675, .190);animation-timing-function:cubic-bezier(.550, .055, .675, .190);}
	60% {opacity:1;-webkit-transform:scale3d(.475, .475, .475) translate3d(0, 60px, 0);transform:scale3d(.475, .475, .475) translate3d(0, 60px, 0);-webkit-animation-timing-function:cubic-bezier(.175, .885, .320, 1);animation-timing-function:cubic-bezier(.175, .885, .320, 1);}
}
@keyframes zoomInDown {
	0% {opacity:0;-webkit-transform:scale3d(.1, .1, .1) translate3d(0, -1000px, 0);transform:scale3d(.1, .1, .1) translate3d(0, -1000px, 0);-webkit-animation-timing-function:cubic-bezier(.550, .055, .675, .190);animation-timing-function:cubic-bezier(.550, .055, .675, .190);}
	60% {opacity:1;-webkit-transform:scale3d(.475, .475, .475) translate3d(0, 60px, 0);transform:scale3d(.475, .475, .475) translate3d(0, 60px, 0);-webkit-animation-timing-function:cubic-bezier(.175, .885, .320, 1);animation-timing-function:cubic-bezier(.175, .885, .320, 1);}
}
.flex-active-slide .banner-2-2{
	margin-top: 5px;
}
.banner-con .banner2-text{
	width: 1200px;
	margin: 2.5% auto;
}
.flex-active-slide .banner-2-3{
	float: left;
	margin-right: 4%;
	-webkit-animation:anner-btn-01-ani 1s 2s ease both;
	-moz-animation:anner-btn-01-ani 1s 2s ease both;
	animation:anner-btn-01-ani 1s 2s ease both;
}
.flex-active-slide .banner-2-4{
	float: left;
	margin-right: 4%;
	-webkit-animation:anner-btn-01-ani 1s 2.5s ease both;
	-moz-animation:anner-btn-01-ani 1s 2.5s ease both;
	animation:anner-btn-01-ani 1s 2.5s ease both;
}
.flex-active-slide .banner-2-5{
	float: left;
	-webkit-animation:anner-btn-01-ani 1s 3s ease both;
	-moz-animation:anner-btn-01-ani 1s 3s ease both;
	animation:anner-btn-01-ani 1s 3s ease both;
}

.flex-active-slide .banner3-title{
	color: #db4b4b;
	font-family:"宋体";
	font-size: 80px;
	margin-top: 5.5%;
	font-weight: bold;
	letter-spacing: 5px;
	line-height: 55px;
	-webkit-animation:zoomInDown 1.5s 1s ease both ;
	-moz-animation:zoomInDown 1.5s 1s ease both ;
	-o-animation:zoomInDown 1.5s 1s ease both ;
	animation:zoomInDown 1.5s 1s ease both ;
	opacity: 1;
}
.flex-active-slide .con3 ul{
	width: 1200px;
	margin: 3.5% auto;
}
.con3 ul li{
	float: left;
	width: 122px;
	height: 139px;
	margin-right: 90px;
	margin-bottom: 20px;
	opacity: 1;
}

@-webkit-keyframes banner3-03-ani{
	0% {opacity: 0;-webkit-transform: translate(0,-600px);}
	100% {opacity: 1;-webkit-transform: translate(0,0);}
}
@-moz-keyframes banner3-03-ani{
	0% {opacity: 0;-moz-transform: translate(0,-600px);}
	100% {opacity: 1;-moz-transform: translate(0,0);}
}
@-o-keyframes banner3-03-ani{
	0% {opacity: 0;-o-transform: translate(0,-600px);}
	100% {opacity: 1;-o-transform: translate(0,0);}
}
@keyframes banner3-03-ani{
	0% {opacity: 0;transform: translate(0,-600px);}
	100% {opacity: 1;transform: translate(0,0);}
}

/*.flex-active-slide .con3 ul li:hover{
	-webkit-animation: bounce-ani 0.6s ease both;
	-moz-animation: bounce-ani 0.6s ease both;
	-o-animation: bounce-ani 0.6s ease both;
	animation: bounce-ani 0.6s ease both;
	cursor: pointer;
}*/
@-webkit-keyframes bounce-ani{
	0% {-webkit-transform: translateY(0)}
	40% {-webkit-transform: translateY(-25px)}
	60% {-webkit-transform: translateY(0px)}
	80% {-webkit-transform: translateY(-10px)}
	100% {-webkit-transform: translateY(0)}
}
@-moz-keyframes bounce-ani{
	0% {-moz-transform: translateY(0)}
	40% {-moz-transform: translateY(-25px)}
	60% {-moz-transform: translateY(0px)}
	80% {-moz-transform: translateY(-10px)}
	100% {-moz-transform: translateY(0)}
}
@-o-keyframes bounce-ani{
	0% {-o-transform: translateY(0)}
	40% {-o-transform: translateY(-25px)}
	60% {-o-transform: translateY(0px)}
	80% {-o-transform: translateY(-10px)}
	100% {-o-transform: translateY(0)}
}
@keyframes bounce-ani{
	0% {transform: translateY(0)}
	40% {transform: translateY(-25px)}
	60% {transform: translateY(0px)}
	80% {transform: translateY(-10px)}
	100% {transform: translateY(0)}
}

@-webkit-keyframes banner5-con-ani{
	0% {-webkit-transform: scale(0);}
	60% {-webkit-transform: scale(1.1);}
	80% {-webkit-transform: scale(0.9);}
	100% {-webkit-transform: scale(1);}
}
@-moz-keyframes banner5-con-ani{
	0% {-moz-transform: scale(0);}
	60% {-moz-transform: scale(1.1);}
	80% {-moz-transform: scale(0.9);}
	100% {-moz-transform: scale(1);}
}
@-o-keyframes banner5-con-ani{
	0% {-o-transform: scale(0);}
	60% {-o-transform: scale(1.1);}
	80% {-o-transform: scale(0.9);}
	100% {-o-transform: scale(1);}
}
@keyframes banner5-con-ani{
	0% {transform: scale(0);}
	60% {transform: scale(1.1);}
	80% {transform: scale(0.9);}
	100% {transform: scale(1);}
}


.flex-active-slide .con3 ul li:nth-child(6){
	margin-right: 0;
}
.flex-active-slide .con3 ul li:last-child{
	margin-right: 0;
}

.flex-active-slide .banner4-shadow{
	width: 70.3%;
	height: 600px;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-animation:anner-btn-05-ani 1s 1s ease both;
	-moz-animation:anner-btn-05-ani 1s 1s ease both;
	-o-animation:anner-btn-05-ani 1s 1s ease both;
	animation: anner-btn-05-ani 1s 1s ease both;
}
@-webkit-keyframes anner-btn-05-ani {
	0% {-webkit-transform: translate(500px,0);opacity: 0;}
	40% {-webkit-transform: translate(-40px,0);opacity: 1;}
	70% {-webkit-transform: translate(10px,0);}
	100% {-webkit-transform: translate(0,0);opacity: 1;}
}
@-moz-keyframes anner-btn-05-ani {
	0% {-webkit-transform: translate(500px,0);opacity: 0;}
	40% {-webkit-transform: translate(-40px,0);opacity: 1;}
	70% {-webkit-transform: translate(10px,0);}
	100% {-webkit-transform: translate(0,0);opacity: 1;}
}
@-o-keyframes anner-btn-05-ani {
	0% {-webkit-transform: translate(500px,0);opacity: 0;}
	40% {-webkit-transform: translate(-40px,0);opacity: 1;}
	70% {-webkit-transform: translate(10px,0);}
	100% {-webkit-transform: translate(0,0);opacity: 1;}
}
@keyframes anner-btn-05-ani {
	0% {-webkit-transform: translate(500px,0);opacity: 0;}
	40% {-webkit-transform: translate(-40px,0);opacity: 1;}
	70% {-webkit-transform: translate(10px,0);}
	100% {-webkit-transform: translate(0,0);opacity: 1;}
}
.flex-active-slide .banner4-text{
	margin-top:12%;
	margin-left: 6%;
	float: left;
	width: 40%;
	-webkit-animation:anner-btn-01-ani 1s 2.5s ease both;
	-moz-animation:anner-btn-01-ani 1s 2.5s ease both;
	animation: anner-btn-01-ani 1s 2.5s ease both;
	opacity: 1;
}
.flex-active-slide .banner4-img{
	float: left;
	margin-top: 6.5%;
	width: 50%;
	margin-left: -5.5%;
	-webkit-animation: flipInY 1s 1.5s ease both;
	-moz-animation: flipInY 1s 1.5s ease both;
	animation: flipInY 1s 1.5s ease both;
}
.use-index{
	height: 749px;
	position: relative;
}
.use-bg-image{
	position: absolute;
	left: 50%;
	margin-left: -960px;
	top: 0;
}
.col-con{
	position: relative;
	z-index: 2;
}
.col-title{
	text-align: center;
	padding: 70px 0;
}
/*-------------use-index-------------*/
.use-index{
	background: url(../images/system/user_bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.use-item{
	display: inline-block;
	width: 260px;
	height: 428px;
	background: #fff;
	background: rgba(255,255,255,0.88);
	margin-top: 15px;
	margin-right:40px ;
	margin-right:35px\9;
}
.use-item:last-child{
	margin-right: 0;
}
.use-item-con{
	width: 230px;
	height: 398px;
	border: 1px solid #6c6b6a;
	margin: 15px;
	text-align: center;
	transition: all 0.1s linear;
	-moz-transition:all 0.1s linear;
	-webkit-transition:all 0.1s linear;
	-o-transition:all 0.1s linear;
	-ms-transition: all 0.1s linear;
}
.use-item-con:hover{
	width: 250px;
	height: 418px;
	margin: 5px;
}
.user-item-cricle{
	display: block;
	width: 138px;
	height: 138px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	background: #383636;
	margin: 65px auto 50px;
}
.user-item-cricle .user-icon{
	display: inline-block;
	width: 138px;
	height: 138px;
	background: url(../images/system/use_icon.png) no-repeat;
	transition: all 0.2s linear;
	-moz-transition:all 0.2s linear;
	-webkit-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	-ms-transition: all 0.2s linear;
	cursor: pointer;
}
.user-item-cricle .user-icon:hover{
	background-position: 0 -138px;
}
.user-item-cricle  .user-icon-02{
	background-position: 0 -276px;
}
.user-item-cricle  .user-icon-02:hover{
	background-position: 0 -414px;
}
.user-item-cricle  .user-icon-03{
	background-position: 0 -552px;
}
.user-item-cricle  .user-icon-03:hover{
	background-position: 0 -690px;
}
.user-item-cricle  .user-icon-04{
	background-position: 0 -828px;
}
.user-item-cricle  .user-icon-04:hover{
	background-position: 0 -966px;
}
.user-item-title{
	color: #2b2b2b;
	font-size: 24px;
	margin-bottom: 35px;
}
.user-item-link{
	font-size: 16px;
	color: #ff3939;
	text-decoration: underline;
}
/*solution*/
.solution-index{
	background: #fff;
	
}
.solution-item{
	position: relative;
	width: 454px;
	display: block;
}
.solution{
	position: relative;
	margin-bottom: 120px;
	height: 486px;
	overflow: hidden;
}
.solution-layer{
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0,0,0,0.4);
	left: 0;
	top: 0;
	display: none;
}
.solution-item .solution-index-bg-top{
	position: absolute;
	left: 0;
	top: 0;
	transform: translate(80px,486px);
	transition: all 0.2s linear;
}
.solution-item:hover .solution-index-bg-top{
	transform: translate(0,0);
}
.solution-item  .solution-index-text{
	display: inline-block;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 35px;
	color: #fff;
	text-align: center;
	font-size: 32px;
	line-height: 50px;
	opacity: 0;
	transition: all 0.2s 0.1s linear;
}
.solution-item:hover  .solution-index-text{
	opacity: 1;
}
.solution-item:hover{
	cursor: pointer;
}
.solution-icon{
	display: inline-block;
	width: 50px;
	height: 50px;
	background: url(../images/system/icon.png) no-repeat;
	background-position: 0 -10px;
	position: relative;
	top: 10px;
	margin-right: 5px;
}
.solution-icon-02{
	background-position: 0 -60px;
}
.solution-icon-03{
	background-position: 0 -110px;
}
.solution-02,.solution-03{
	position: absolute;
	left: 304px;
	top: 0;
	width: 596px;
	
}
.solution-03{
	width: 454px;
	left: auto;
	right: 0;
}
.solution-02 .solution-index-text,
.solution-03 .solution-index-text{
	text-indent: 120px;
}
.solution-dia{
	width: 1088px;
	height: 331px;
	position: absolute;
	background: #fff;
	z-index: 5;
	left: 56px;
	top: 77px;
	text-align: center;
	border: 1px solid #ababab;
	display: none;
}
.solution-dia-title{
	font-size: 26px;
	line-height: 80px;
	font-weight: bold;
}
.solution-dia-text{
	margin-top: 25px;
}
.solution-dia-image{
	width: 274px;
	height: 180px;
	margin: 0 10px;
}
.solution-dia-close{
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../images/system/icon.png) no-repeat;
	background-position:  -50px 0;
	position: absolute;
	right: 30px;
	top: 30px;
}
/*case*/
.case-index{
	height: 900px;
	position: relative;
	z-index: 2;
	background: url(../images/system/case_index_bg.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.case-item{
	width: 240px;
	text-align: center;
	float: left;
	margin: 35px 0;
}
.case-item .case-image{
	width: 200px;
	border-radius: 5px;
}
/*coopration*/
.coopration-index{
	background: url(../images/system/coop_bg.jpg) no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	margin-top: -90px;
}
.img5{
	margin-top: 85px;
}
.product-des{
	margin: 20px 0;
	font-size: 20px;
	color: #fff;
	line-height: 35px;
}
.ask{
	width: 160px;
	height: 30px;
	background: #ff3939;
	color: #000;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	margin: 30px auto;
	outline: none;
	border: none;
	border-radius: 5px;
}

/*about*/
.about-index{
	position: relative;
	/*height: 980px;*/
	background: url(../images/system/about_index_bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-bottom: 80px;
}
.about-bg-image{
	top: -86px;
	height: 100%;
}
.about-index-con{
	display: inline-block;
	width: 555px;
	padding: 30px 30px 30px 410px;
	border: 2px solid #ff3939;
	position: relative;
	min-height: 278px;
	margin: 80px 0 0 188px;
	font-size: 18px;
	font-family: "微软雅黑";
	line-height: 40px;
}
.about-index-company{
	position: absolute;
	left: -188px;
	top: -60px;
}
.user-bg-image{
	position: absolute;
	left: 50%;
	margin-left: -830px;
	width: 100%;
	top: 0;
}

.flex-direction-nav{
	width: 100%;
	position: absolute;
	z-index: 10000;
	top: 40%;
}
.flex-prev,.flex-next{
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../images/system/swiper_oper2.png) no-repeat;
	background-size: 30px 60px;
	opacity: 0.6;
	position: absolute;
	left: 0;
	color: transparent;
	text-indent: -9999px;
}
.section1 .flex-prev,.section1 .flex-next{
	background: url(../images/system/swiper_oper2.png) no-repeat;
	background-size: 30px 60px;
}
.section1 .flex-next{
	background: url(../images/system/swiper_oper2.png) no-repeat;
	background-size: 30px 60px;
	background-position: 0 -30px;;
}
.evaluate .flex-prev,.evaluate .flex-next{
	left: 50%;
}
.evaluate .flex-prev{
	margin-left: -350px;
}
.evaluate .flex-next{
	margin-left: 320px;
}
.flex-next{
	background-position: 0 -30px;
	right: 0;
	left: auto;
}