@charset "utf-8";
/*
 * author pulu
 * time 2018-05-22
 */
/*-------------------banner------------------*/
.banner{
	position: relative;
}
.banner-image{
	width: 100%;
}
.banner .flex-direction-nav{
	display: none;
}
.banner .flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: 33px;
	height: 12px;
	text-align: center;
}
.banner .flex-control-nav li{
	display: inline-block;
}
.banner .flex-control-nav a{
	display: inline-block;
	margin: 0 8px;
	width: 10px;
	height: 10px;
	border: 2px solid #fff;
	border-radius: 50%;
	text-indent: -9999px;
}
.banner .flex-control-nav .flex-active{
	background: #fff;
	border: 2px solid #fff;
}
.use-index{
	height: 749px;
	position: relative;
}
.use-bg-image{
	position: absolute;
	left: 50%;
	margin-left: -960px;
	top: 0;
}
.col-con{
	position: relative;
	z-index: 2;
}
.col-title{
	text-align: center;
	padding: 70px 0;
}
/*-------------use-index-------------*/
.use-item{
	display: inline-block;
	width: 260px;
	height: 428px;
	background: #fff;
	background: rgba(255,255,255,0.88);
	margin-top: 15px;
	margin-right:40px ;
	margin-right:35px\9;
}
.use-item:last-child{
	margin-right: 0;
}
.use-item-con{
	width: 230px;
	height: 398px;
	border: 1px solid #6c6b6a;
	margin: 15px;
	text-align: center;
	transition: all 0.1s linear;
	-moz-transition:all 0.1s linear;
	-webkit-transition:all 0.1s linear;
	-o-transition:all 0.1s linear;
	-ms-transition: all 0.1s linear;
}
.use-item-con:hover{
	width: 250px;
	height: 418px;
	margin: 5px;
}
.user-item-cricle{
	display: block;
	width: 138px;
	height: 138px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	background: #383636;
	margin: 65px auto 50px;
}
.user-item-cricle .user-icon{
	display: inline-block;
	width: 138px;
	height: 138px;
	background: url(../images/system/use_icon.png) no-repeat;
	transition: all 0.2s linear;
	-moz-transition:all 0.2s linear;
	-webkit-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	-ms-transition: all 0.2s linear;
	cursor: pointer;
}
.user-item-cricle .user-icon:hover{
	background-position: 0 -138px;
}
.user-item-cricle  .user-icon-02{
	background-position: 0 -276px;
}
.user-item-cricle  .user-icon-02:hover{
	background-position: 0 -414px;
}
.user-item-cricle  .user-icon-03{
	background-position: 0 -552px;
}
.user-item-cricle  .user-icon-03:hover{
	background-position: 0 -690px;
}
.user-item-cricle  .user-icon-04{
	background-position: 0 -828px;
}
.user-item-cricle  .user-icon-04:hover{
	background-position: 0 -966px;
}
.user-item-title{
	color: #2b2b2b;
	font-size: 24px;
	margin-bottom: 35px;
}
.user-item-link{
	font-size: 16px;
	color: #ff3939;
	text-decoration: underline;
}
/*solution*/
.solution-item{
	position: relative;
	width: 454px;
	display: block;
}
.solution{
	position: relative;
	margin-bottom: 120px;
	height: 486px;
	overflow: hidden;
}
.solution-layer{
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0,0,0,0.4);
	left: 0;
	top: 0;
	display: none;
}
.solution-item .solution-index-bg-top{
	position: absolute;
	left: 0;
	top: 0;
	transform: translate(80px,486px);
	transition: all 0.2s linear;
}
.solution-item:hover .solution-index-bg-top{
	transform: translate(0,0);
}
.solution-item  .solution-index-text{
	display: inline-block;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 35px;
	color: #fff;
	text-align: center;
	font-size: 32px;
	line-height: 50px;
	opacity: 0;
	transition: all 0.2s 0.1s linear;
}
.solution-item:hover  .solution-index-text{
	opacity: 1;
}
.solution-item:hover{
	cursor: pointer;
}
.solution-icon{
	display: inline-block;
	width: 50px;
	height: 50px;
	background: url(../images/system/icon.png) no-repeat;
	background-position: 0 -10px;
	position: relative;
	top: 10px;
	margin-right: 5px;
}
.solution-icon-02{
	background-position: 0 -60px;
}
.solution-icon-03{
	background-position: 0 -110px;
}
.solution-02,.solution-03{
	position: absolute;
	left: 304px;
	top: 0;
	width: 596px;
	
}
.solution-03{
	width: 454px;
	left: auto;
	right: 0;
}
.solution-02 .solution-index-text,
.solution-03 .solution-index-text{
	text-indent: 120px;
}
.solution-dia{
	width: 1088px;
	height: 331px;
	position: absolute;
	background: #fff;
	z-index: 5;
	left: 56px;
	top: 77px;
	text-align: center;
	border: 1px solid #ababab;
	display: none;
}
.solution-dia-title{
	font-size: 26px;
	line-height: 80px;
	font-weight: bold;
}
.solution-dia-text{
	margin-top: 25px;
}
.solution-dia-image{
	width: 274px;
	height: 180px;
	margin: 0 10px;
}
.solution-dia-close{
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../images/system/icon.png) no-repeat;
	background-position:  -50px 0;
	position: absolute;
	right: 30px;
	top: 30px;
}
/*case*/
.case-index{
	height: 900px;
	position: relative;
	z-index: 2;
}
.case-item{
	width: 240px;
	text-align: center;
	float: left;
	margin: 35px 0;
}
.case-item .case-image{
	width: 200px;
	border-radius: 5px;
}
/*about*/
.about-index{
	position: relative;
	height: 714px;
}
.about-bg-image{
	top: -86px;
}
.about-index-con{
	display: inline-block;
	width: 555px;
	padding: 30px 30px 30px 410px;
	border: 2px solid #ff3939;
	position: relative;
	min-height: 278px;
	margin: 80px 0 0 188px;
	font-size: 18px;
	font-family: "微软雅黑";
	line-height: 40px;
}
.about-index-company{
	position: absolute;
	left: -188px;
	top: -60px;
}
