<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>景运管家</title>
    {load href="/static/home/css/base.css"}
    {load href="/static/home/css/common.css"}
    {load href="/static/home/css/index.css"}
    {block name="css"}{/block}
</head>
<body>
{block name="content"}{/block}
<div class="footer">
    <div class="w1200 fn-clear">
        <div class="footer-con">
            <div class="footer-title">
                公司新闻
                <a href="javascript:;" class="footer-title-more">更多 ></a>
            </div>
            <div class="footer-news">
                <a href="javascript:;" class="footer-new">08/16 恭喜景运管家获得数千万融资</a>
                <a href="javascript:;" class="footer-new">08/16 恭喜景运管家获得数千万融资</a>
                <a href="javascript:;" class="footer-new">08/16 恭喜景运管家获得数千万融资</a>
                <a href="javascript:;" class="footer-new">08/16 恭喜景运管家获得数千万融资</a>
            </div>
            <span class="footer-line"></span>
        </div>
        <div class="footer-con footer-con-02">
            <div class="footer-title">
                解决方案
            </div>
            <div class="footer-news">
                <a href="javascript:;" class="footer-link">智慧景区</a>
                <a href="javascript:;" class="footer-link">主题公园</a>
                <a href="javascript:;" class="footer-link">展览展会</a>
                <a href="javascript:;" class="footer-link">全域旅游</a>
            </div>
            <span class="footer-line"></span>
        </div>
        <div class="footer-con footer-con-03">
            <div class="footer-title">
                友情链接
            </div>
            <div class="footer-news">
                <a href="javascript:;" class="footer-link">国家文化旅游部</a>
                <a href="javascript:;" class="footer-link">重庆市文化旅游局</a>
            </div>
            <span class="footer-line"></span>
        </div>
        <div class="footer-con footer-con-04">
            <div class="footer-title">
                联系我们
            </div>
            <div class="footer-news">
                <p class="footer-new">客服专线：400-1234-567</p>
                <p class="footer-new">客服邮箱：123456@jygj.com</p>
                <p class="footer-addr">地址：上海市金山区廊下镇景乐路228
                <p>　　　号7幢N299室</p>
                </p>
            </div>
        </div>
        <div class="footer-ewm">
            <img src="images/system/ewm.jpg" class="footer-ewm-image" />
            <p>扫码关注微信公众号</p>
        </div>
    </div>
    <div class="footer-copy">Copyright ©2013-2018 上海微奥信息科技有限公司 版权所有 沪ICP备15054606号-3</div>
</div>
<!--footer end-->
{load href="/static/home/js/jquery-1.8.2.min.js"}
{load href="/static/home/js/slider.js"}
{block name="js"}{/block}
</body>
</html>